%h2
  = @item.name

%hr

%h4
  = t 'activerecord.attributes.cns_proposal.cns_category_id'
%blockquote
  = @item.cns_category.name unless @item.cns_category.nil?
%h4
  = t 'activerecord.attributes.cns_proposal.name'
%blockquote
  = @item.name
%h4
  = t 'activerecord.attributes.cns_proposal.description'
%blockquote
  = @item.description
