= f.text_field :priority, required: true

= f.form_group :position, label: { text: t('activerecord.attributes.ta/page.position') } do
  - Ta::Page.positions.each do |position, index|
    = f.radio_button :position, position, label: t("activerecord.enum.ta/page.position.#{position}")

= f.text_field :name, required: true

= f.label :content
= f.cktext_area :content, required: true, ckeditor: { height: 500 }

%br
%br
