= render partial: 'layouts/ta/breadcrumb'

%section#category
  .container
    - @articles.each do |article|
      %article.row
        .col-xs-12.col-sm-6
          %h2
            = link_to ta_article_url(article) do
              = article.title
          %p
            = article.summary
        .col-xs-12.col-sm-6
          = link_to ta_article_url(article) do
            = image_tag article.image.url(:medium), class: 'img-responsive'

    %center
      = will_paginate @articles, renderer: BootstrapPagination::Rails
