.job-detail
  .job-detail-header
    .row
      .col-xs-5
        .clip
          = image_tag("employments/icon-clip.png")
        .yellow
          = truncate plaza.institution_code, length: 7
      .col-xs-7
        %div{id: "shareButtonLabelCount#{plaza.id}"}
        :javascript
          $("#shareButtonLabelCount#{plaza.id}").jsSocials({
            url: "#{employments_job_url(plaza)}",
            text: "#{plaza.post_name}",
            showCount: true,
            showLabel: true,
            shares: ["twitter", "facebook", "googleplus", "linkedin"]
          })
        %h2
          = plaza.post_name

  .row
    .col-xs-12
      %ul.nav.nav-tabs{role: 'tablist'}
        %li.presentation.active
          = link_to 'Información del puesto', '#general', role: 'tab', data: {toggle: 'tab'}
        %li.presentation
          = link_to 'Perfil de contratación', '#perfil', role: 'tab', data: {toggle: 'tab'}
        %li.presentation
          = link_to 'Criterios de evaluación', '#criteria', role: 'tab', data: {toggle: 'tab'}
        - if plaza.plaza_state_id == 4
          %li.presentation
            = link_to 'Resumen de cierre', '#closed', role: 'tab', data: {toggle: 'tab'}

      .tab-content
        .tab-pane.active#general{role: 'tabpanel'}
          %table{cellspacing: 10}
            %tr
              %td
                Institución:
              %td.p15
                = plaza.institution_name
            - if plaza.location.present?
              %tr
                %td
                  Ubicación:
                %td.p15
                  = plaza.location
            %tr
              %td
                Salario:
              %td.p15
                = number_to_currency plaza.salary
            %tr
              %td
                Tipo de contratación:
              %td.p15
                = plaza.contract_type
            %tr
              %td
                Vacantes:
              %td.p15
                = plaza.vacancies
            %tr
              %td
                Fecha limite de inscripción:
              %td.p15{ class: plaza.plaza_state_id == 2 ? nil : 'text-danger' }
                = l(plaza.closing_registration, format: :date)
                - if plaza.plaza_state_id != 2
                  (Plazo finalizado)
                %br
                - case plaza.plaza_state_id
                  - when 2
                    %span.label.label-success
                      Disponible
                  - when 3
                    %span.label.label-info
                      En evaluación (Pre-selección)
                  - when 5
                    %span.label.label-info
                      En evaluación (Configuración)
                  - when 6
                    %span.label.label-info
                      En evaluación (Competencias)
                  - when 4
                    %span.label.label-danger
                      Cerrado
          - if plaza.comment.present?
            %br
            %div
              %strong= "Comentario: "
              %br
              = simple_format plaza.comment
          - if plaza.mission.present?
            %br
            %div
              %strong= "Misión: "
              %br
              = simple_format plaza.mission
          - if plaza.function.present?
            %br
            %div
              %strong= "Funciones básicas: "
              %br
              = simple_format plaza.function
          - if plaza.result.present?
            %br
            %div
              %strong= "Resultados principales: "
              %br
              = simple_format plaza.result
          - if plaza.frame.present?
            %br
            %div
              %strong= "Marco de referencia: "
              %br
              = simple_format plaza.frame
          - if plaza.description.present?
            %br
            %div
              %strong= "Otros aspectos: "
              %br
              = simple_format plaza.description

          %br
          .row
            .col-sm-12
              .center-block.hidden-sm.hidden-xs
                .btn-toolbar{role: "toolbar"}
                  .line.visible-lg-inline-block.visible-md-inline-block
                  .btn-group{role: "group"}
                    = link_to 'Ver más', '#', class: "btn btn-primary btnNext"
                  .line.visible-lg-inline-block.visible-md-inline-block
              .hidden-lg.hidden-md.text-centered
                = link_to 'Ver más', '#', class: "btn btn-primary btnNext"

        .tab-pane#perfil{role: 'tabpanel'}
          - if plaza.plaza_degrees.count > 0
            %div
              %strong= "Grado académico: "
              %table
                - plaza.plaza_degrees.each do |degree|
                  %tr
                    %td.p15
                      %span.label{ class: degree.req_code.to_i == 1 ? 'label-info' : ( degree.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                        = degree.req_name
                    %td.p15
                      = sanitize degree.gra_name
          - if plaza.plaza_specialties.count > 0
            %br
            %div
              %strong= "Especialidades: "
              %table
                - plaza.plaza_specialties.each do |specialty|
                  %tr
                    %td.p15
                      %span.label{ class: specialty.req_code.to_i == 1 ? 'label-info' : ( specialty.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                        = specialty.req_name
                    %td.p15
                      = sanitize specialty.esp_name
          - if plaza.plaza_skills.count > 0
            %br
            %div
              %strong= "Competencias técnicas: "
              %table
                - plaza.plaza_skills.each do |competence|
                  %tr
                    %td.p15
                      %span.label{ class: competence.req_code.to_i == 1 ? 'label-info' : ( competence.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                        = competence.req_name
                    %td.p15
                      = sanitize competence.name
          - if plaza.plaza_languages.count > 0
            %br
            %div
              %strong= "Idiomas: "
              %table
                - plaza.plaza_languages.each do |language|
                  %tr
                    %td.p15
                      %span.label{ class: language.req_code.to_i == 1 ? 'label-info' : ( language.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                        = language.req_name
                    %td.p15
                      = sanitize language.idi_name
          - if plaza.plaza_experiences.count > 0
            %br
            %div
              %strong= "Experiencia previa: "
              %table
                - plaza.plaza_experiences.each do |experience|
                  %tr
                    %td.p15
                      %span.label.label-default
                        = experience.exp_name
                    %td.p15
                      = sanitize experience.exp_description
          %br
          .row
            .col-sm-12
              .center-block.hidden-sm.hidden-xs
                .btn-toolbar{role: "toolbar"}
                  .line.visible-lg-inline-block.visible-md-inline-block
                  .btn-group{role: "group"}
                    = link_to 'Ver más', '#', class: "btn btn-primary btnNext"
                  .line.visible-lg-inline-block.visible-md-inline-block
              .hidden-lg.hidden-md.text-centered
                = link_to 'Ver más', '#', class: "btn btn-primary btnNext"


        .tab-pane#criteria{role: 'tabpanel'}
          %h4
            Criterios de evaluación
          - plaza.plaza_factors.active.order(:order).each_with_index do |factor, i|
            - unless i == 0
              %br
            %strong
              = factor.name
              &nbsp
              %span.text-green
                = "#{factor.maximum_score.to_i} Máx"
              &nbsp
              %span.text-blue
                = "#{factor.minimum_score.to_i} Mín"
            - if factor.areas.active.count > 0
              %table.table.borderless.table-striped.table-hover
                - factor.areas.active.each do |area|
                  %tr
                    %td
                      = area.name
                    %td.text-right.text-blue
                      = "#{area.score.to_i} puntos"

          .row
            .col-sm-12
              .center-block.hidden-sm.hidden-xs
                .btn-toolbar{role: "toolbar"}
                  .line.visible-lg-inline-block.visible-md-inline-block
                  .btn-group{role: "group"}
                    - if plaza.plaza_state_id == 2
                      = link_to "Aplicar", apply_employments_job_url(id: plaza.id), class: "btn btn-primary"
                      =# link_to "Aplicar", contact_employments_job_url(plaza), remote: true, class: "btn btn-primary"
                    - else
                      = link_to "Cerrar", employments_jobs_url, class: "btn btn-primary", data: { dismiss: 'modal' }
                  .line.visible-lg-inline-block.visible-md-inline-block
              .hidden-lg.hidden-md.text-centered
                - if plaza.plaza_state_id == 2
                  = link_to "Aplicar", apply_employments_job_url(id: plaza.id), class: "btn btn-primary"
                  =# link_to "Aplicar", contact_employments_job_url(plaza), remote: true, class: "btn btn-primary"
                - else
                  = link_to "Cerrar", employments_jobs_url, class: "btn btn-primary", data: { dismiss: 'modal' }
              %br
        - if plaza.plaza_state_id == 4
          .tab-pane#closed{role: 'tabpanel'}
            %h4
              Resumen de cierre
            %div
              %strong
                Proceso cerrado
              - if plaza.closing_comment.present?
                %p
                  = plaza.closing_comment
              - if plaza.participants_number.to_i > 0
                %p
                  Número de participantes:
                  = plaza.participants_number
              - plaza.plaza_contracts.each do |contract|
                %p
                  Persona contratada:
                  = contract.full_name
            .row
              .col-sm-12
                .center-block.hidden-sm.hidden-xs
                  .btn-toolbar{role: "toolbar"}
                    .line.visible-lg-inline-block.visible-md-inline-block
                    .btn-group{role: "group"}
                      = link_to "Cerrar", employments_jobs_url, class: "btn btn-primary", data: { dismiss: 'modal' }
                    .line.visible-lg-inline-block.visible-md-inline-block
                .hidden-lg.hidden-md.text-centered
                  = link_to "Cerrar", employments_jobs_url, class: "btn btn-primary", data: { dismiss: 'modal' }
