.container
  .row
    .col-xs-12.col-sm-4.col-md-3
      = image_tag("indicators/sabesqueazul.png", class: "img-responsive img-centered")
    .col-xs-12.col-sm-8.col-md-9
      %h1.general-indicator
        -#
          ¿De qué se trata este portal?
      %p.content-indicator.about-general
        Este es un espacio de la Secretaría de Participación, Transparencia y Anticorrupción de la Presidencia de El Salvador en el que se publican datos que muestran los avances en materia de desarrollo social y económico, de acuerdo con indicadores específicos, como resultado del trabajo realizado por el Órgano Ejecutivo a través de sus programas y proyectos.
        %br
        %br
        Su objetivo principal es difundir la información de manera sencilla, para una fácil comprensión del público, que facilite el análisis propio de cada persona y, con ello, pueda involucrarse de forma informada y razonada en la definición y seguimiento de las políticas públicas.
        %br
        %br 
        %span.indicator-mark
          Los datos que se presentan están agrupados de la siguiente forma:
        %br
        = "- Finanzas públicas: información sobre la obtención de ingresos, el gasto, la compra de bienes y servicios e inversión y financiamiento del Estado a través del endeudamiento."
        %br
        = "- Gasto social: recursos destinados por el Estado para los proyectos, programas relacionados con educación, salud, disminución de la pobreza, que mejoran la calidad de vida de la población."
        %br
        = "- Inversión pública: uso de fondos estatales para crear, incrementar, mejorar la infraestructura y capital humano del país con el fin de aumentar la capacidad productiva."
        %br
        = "- Reforma de pensiones: información de la propuesta del Gobierno sobre la reforma de pensiones, basada en el ahorro durante los años de actividad económica y la solidaridad intergeneracional."
        %br
        %br
        %span.indicator-mark
          Cómo se publican los datos:
        %br
        Las fuentes de información son las bases de datos oficiales del Banco Central de Reserva, la Dirección General de Estadísticas y Censos, el Ministerio de Salud, el Ministerio de Hacienda, el Ministerio de Educación, el Fondo de Inversión Social para el Desarrollo Local, entre otros. Y los informes internacionales emitidos por actores reconocidos como el Fondo Monetario Mundial, el Banco Mundial, la Comisión Económica para América Latina y El Caribe (CEPAL), por mencionar algunos.
        %br
        %br
        El dato incluye una afirmación, el dato (número, estadística, etc.) que lo respalda y una imagen.
        %br
        Luego se acompaña de una explicación más amplia, que incorpora gráficos o estadísticas según el caso y los enlaces directos a los documentos o bases de datos de donde se obtuvo la información.
        %br
        %br 
        La Secretaría espera con esto contribuir a una apreciación más clara del estado de las cosas en El Salvador.