.container
  .row
    .col-xs-12.col-sm-4.col-md-3
      .images-wrapper
        = image_tag("indicators/sabesque-transparency.png", class: "img-responsive", style: "background: #{@indicator_category.color.nil? ? '#005F9E' : @indicator_category.color}; margin: 10px 15px;")
    .col-xs-12.col-sm-8.col-md-9.col-centered.content-wrapper-indicator
      %h1.general-indicator{ style: "color: #{@indicator_category.color.nil? ? '#005F9E' : @indicator_category.color}"}
        = image_tag(@indicator_category.picture.url(:icon))
        = @indicator_category.name
      %p.content-indicator
        = @indicator_category.description
      %p.selection-indicator{ style: "background: #{@indicator_category.color.nil? ? '#005F9E' : @indicator_category.color}"}
        = "Seleccioná el tema de tu interés y conocé más sobre los indicadores de desarrollo de país"
      .row
        - @indicator_category.notes.reorder("ind_notes.updated_at DESC").each do |note|
          .col-xs-6.col-sm-4.col-md-3.bottom-margin
            = link_to  indicators_general_url(note) do
              = image_tag(note.sn_note.first.sn_note_images.first.file.url, class: "img-responsive") rescue image_tag("indicators/sabesqueazul.png", class: "img-responsive img-centered") 
