#main
  .container
    .row
      .col-xs-12
        .counter
          - @total_plazas.each_char do |num|
            %span.label.label-default
              = num
    .row
      .col-xs-12
        %h1
          Plazas disponibles en el Gobierno Salvadoreño
        %p
          Aplica a plazas, empleos, pasantías en las instituciones del gobierno, sin cuello ni favores, procesos transparentes.
    .row
      .col-xs-12
        = link_to employments_jobs_url, class: 'btn btn-primary btn-lg' do
          Consultar listado de plazas
    -#
      .row
        .col-xs-12.col-sm-6.col-md-3
          = link_to nil, class: 'icon' do
            = image_tag 'employments/icon-sales.png'
            %span
              %strong 300
              %br
              Ventas
        .col-xs-12.col-sm-6.col-md-3
          = link_to nil, class: 'icon' do
            = image_tag 'employments/icon-travel.png'
            %span
              %strong 567
              %br
              Aduanales
        .col-xs-12.col-sm-6.col-md-3
          = link_to nil, class: 'icon' do
            = image_tag 'employments/icon-money.png'
            %span
              %strong 402
              %br
              Contaduría
        .col-xs-12.col-sm-6.col-md-3
          = link_to nil, class: 'icon' do
            = image_tag 'employments/icon-statistics.png'
            %span
              %strong 128
              %br
              Administradores
#lastjobs
  .container
    .row
      .col-sm-4
        - if @institutions.size > 0
          %strong
            = "Instituciones"
          .institutions-list
            %ul.nav.nav-pills{role: "tablist"}
              - @institutions.each do |institution|
                %li{role: "presentation"}
                  = link_to institution.institution_code, employments_jobs_url(:'q[institution_id_eq]' => institution.institution_id), title: institution.institution_name, class: "badge", data: { toggle: 'tooltip', placement: 'top' }
      .col-sm-8.dashed-border
        %h4
          %strong
            = "Últimas plazas disponibles"
        .job-list
          - @last_plazas.each_with_index do |plaza, i|
            .job
              .job-title
                = plaza.post_name
              .row
                .col-xs-5
                  %p
                    = "Institución: "
                    = plaza.institution_name
                  %p
                    = "Salario: "
                    = number_to_currency(plaza.salary)
                  %p
                    = "Vacantes: "
                    = plaza.vacancies
                  %p
                    .btn-toolbar{role: "toolbar"}
                      .btn-group{role: "group"}
                        = link_to "Aplicar", "http://sapt.presidencia.gob.sv/dotacion/Default.aspx", class: "btn btn-primary"
                      .btn-group{role: "group"}
                        = link_to "Ver detalle", employments_job_url(plaza), remote: true
                .col-xs-7
                  %p
                    = "Descripción: "
                    %br
                    = plaza.description
                    %br
                    #shareButtonLabelCount{class: "plaza-#{i}"}
                    :javascript
                      $('.plaza-#{i}').jsSocials({
                        url: "#{employments_job_url(plaza)}",
                        text: "#{plaza.post_name}",
                        showCount: true,
                        showLabel: true,
                        shares: ["twitter", "facebook", "googleplus", "linkedin"]
                      })
        .show-list
          = link_to "Ver listado completo", employments_jobs_url
#create-cv
  .container
    .row
      .col-sm-6.hidden-xs
        = image_tag("employments/cv-girl.jpg", class: "img-responsive")
      .col-sm-6
        %br
        = image_tag("employments/create-cv.png", class: "img-responsive")
        %br
        %br
        .text-center
          = link_to "Crear mi currículum", "http://sapt.presidencia.gob.sv/dotacion/Default.aspx", class: "btn btn-primary"
        %br
    .clearfix
