#main
  .container
    .row
      .col-xs-12
        .counter
          - @total_plazas.each_char do |num|
            %span.label.label-default
              = num
    .row
      .col-xs-12
        %h1
          Empleos públicos disponibles en el Gobierno Salvadoreño
        %p
          Aplica a plazas, empleos, pasantías en las instituciones del gobierno, sin cuello ni favores, procesos transparentes.
    .row
      .col-xs-12
        = link_to employments_jobs_url, class: 'btn btn-primary btn-lg' do
          Consultar listado de empleos
    .row
      .col-xs-12.col-sm-6.col-md-4
        = link_to employments_jobs_url, class: 'icon' do
          = image_tag 'employments/icon-sales.png'
          %span
            %strong
              = @publish_plazas.count
            %br
            Empleos publicados
      -#
        .col-xs-12.col-sm-6.col-md-3
          = link_to nil, class: 'icon' do
            = image_tag 'employments/icon-travel.png'
            %span
              %strong 567
              %br
              Aduanales
      .col-xs-12.col-sm-6.col-md-4
        = link_to employments_jobs_url, class: 'icon' do
          = image_tag 'employments/icon-money.png'
          %span
            %strong
              = number_to_currency(@publish_plazas.pluck(:salary).sum)
            %br
            Total en salarios
      .col-xs-12.col-sm-6.col-md-4
        = link_to employments_jobs_url, class: 'icon' do
          = image_tag 'employments/icon-statistics.png'
          %span
            %strong 470,501+
            %br
            Visitas a la fecha
#lastjobs
  .container
    .row
      .col-sm-4.col-xs-12
        - if @institutions.size > 0
          %h4
            %strong
              Instituciones
          .institutions-list
            %ul.nav.nav-pills{role: "tablist"}
              - @institutions.each do |institution|
                %li{role: "presentation"}
                  = link_to institution.institution_code, employments_jobs_url(:'q[institution_id_eq]' => institution.institution_id), title: institution.institution_name, class: "badge", data: { toggle: 'tooltip', placement: 'top' }
      .col-sm-8.dashed-border.col-xs-12
        %h4
          %strong
            = "Últimos empleos disponibles"
        .job-list
          = render collection: @last_plazas, partial: 'employments/public_competitions/list_public_competition'
        .show-list
          = link_to "Ver listado completo", employments_jobs_url
#create-cv
  .container
    .row
      .col-sm-6.hidden-xs
        = image_tag("employments/cv-girl.png", class: "img-responsive")
      .col-sm-6
        %br
        = image_tag("employments/create-cv.png", class: "img-responsive")
        %br
        %br
        .text-center
          Disponible a partir de abril 2016
          =# link_to "Crear mi currículum", "http://sapt.presidencia.gob.sv/dotacion/Default.aspx", class: "btn btn-primary", target: '_blank'
        %br
    .clearfix
