- if flash[:notice]
  .alert.alert-success
    = flash[:notice]
.login-container
  .flat-form
    -#
      %ul.tabs
        %li
          = link_to '#login', class: 'active' do
            = t '.login'
        %li
          = link_to '#reset' do
            = t '.reset_password'

    #login.form-action.show.animated.bounceInDown
      %center
        = image_tag('logo_GA-01.png')
      %br
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-vertical' } ) do |f|
        -#
          %ul
            %li
              = f.email_field :email, placeholder: t('.enter_email'), autofocus: true
            %li
              = f.password_field :password, autocomplete: 'off', placeholder: t('.enter_password')

          = f.submit t('.login'), class: 'button'

        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-user
            = f.email_field :email, placeholder: t('.enter_email'), autofocus: true, class: 'form-control'
        .form-group
          .input-group
            .input-group-addon
              %span.glyphicon.glyphicon-lock
            = f.password_field :password, autocomplete: 'off', placeholder: t('.enter_password'), class: 'form-control'
        %br
        .form-group
          = f.submit 'Ingresar', class: 'btn btn-success btn-lg btn-login'

    #reset.form-action.hide.animated.flipInX
      %h1
        = t '.reset_password'
      %p
        = t '.reset_password_explanation'
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        %ul
          %li
            = f.email_field :email, autofocus: true, placeholder: t('.enter_email')

        = f.submit t('.send_instructions'), class: 'button'
