.container-fluid
  .row
    .row-height
      .col-sm-2.col-xs-2.bg-red.col-height
        .inside
          = link_to complaints_root_url do
            = image_tag("complaints/logo.png")
      .col-sm-6.hidden-xs.search.col-height
        .inside-form
          = render 'layouts/complaints/search_form'
      .col-sm-3.col-xs-7.new_case.col-height
        .inside
          - if current_admin.oficial?
            = link_to new_complaints_expedient_url, class: 'white' do
              %i.glyphicon.glyphicon-plus-sign
              Agregar caso
      -#
        .col-sm-1.col-xs-2.notification.col-height
          .inside
            = link_to complaints_notifications_url do
              = image_tag("complaints/notification.png")
      .col-sm-1.col-xs-2.profile.col-height
        .inside
          = link_to destroy_admin_session_url, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Salir del sistema' do
            = image_tag("complaints/profile.png")
  .row
    .col-xs-12.hidden-sm.hidden-md.hidden-lg.search.search_b
      = render 'layouts/complaints/search_form'
