.container-fluid
  .row
    .row-height
      .col-sm-2.col-xs-2.bg-red.col-height
        .inside
          = link_to complaints_root_url do
            = image_tag("complaints/logo.png")
      .col-sm-6.hidden-xs.search.col-height
        .inside-form
          = search_form_for @search, url: complaints_expedients_url do |f|
            = f.text_field :contact_or_phone_or_email_or_comment_or_correlative_or_institution_name_cont, placeholder: 'Buscar'
            = hidden_field_tag 'state', params[:state] || 'new'
      .col-sm-3.col-xs-7.new_case.col-height
        .inside
          = link_to new_complaints_expedient_url, class: 'white' do
            %i.glyphicon.glyphicon-plus-sign
            Agregar caso
      -#
        .col-sm-1.col-xs-2.notification.col-height
          .inside
            = link_to complaints_notifications_url do
              = image_tag("complaints/notification.png")
      .col-sm-1.col-xs-2.profile.col-height
        .inside
          = link_to destroy_admin_session_url, data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Salir del sistema' do
            = image_tag("complaints/profile.png")
  .row
    .col-xs-12.hidden-sm.hidden-md.hidden-lg.search.search_b
      = search_form_for @search, url: complaints_expedients_url do |f|
        = f.text_field :contact_or_phone_or_email_or_comment_or_correlative_or_institution_name_cont, placeholder: 'Buscar'
        = hidden_field_tag 'state', params[:state] || 'new'
