%ul.sidebar
  - if current_admin.oficial?
    %li{ class: menu_active == 'new' ? 'active' : nil }
      = link_to complaints_expedients_url(state: 'new', search: params[:search]) do
        = image_tag "complaints/new_cases.png"
        Casos Nuevos
  %li{ class: menu_active == 'process' ? 'active' : nil }
    = link_to complaints_expedients_url(state: 'process', search: params[:search]) do
      = image_tag "complaints/proccess_cases.png"
      Casos en Proceso
  %li{ class: ['closed', 'redirected'].include?(menu_active) ? 'active' : nil }
    = link_to complaints_expedients_url(state: 'closed', search: params[:search]) do
      = image_tag "complaints/closed_cases.png"
      Casos Cerrados
  - if current_admin.oficial?
    %li{ class: menu_active == 'users' ? 'active' : nil }
      = link_to complaints_users_url do
        = image_tag "complaints/links.png"
        Enlaces
    %li{ class: menu_active == 'statistics' ? 'active' : nil }
      = link_to complaints_statistics_url do
        = image_tag "complaints/statistics.png"
        Estadísticas
    %li{ class: menu_active == 'documents' ? 'active' : nil }
      = link_to complaints_documents_url do
        = image_tag "complaints/new_cases.png"
        Archivos
