%ul.sidebar
  %li{ class: menu_active == 'new' ? 'active' : nil }
    = link_to complaints_expedients_url(state: 'new') do
      = image_tag "complaints/new_cases.png"
      Casos Nuevos
  %li{ class: menu_active == 'process' ? 'active' : nil }
    = link_to complaints_expedients_url(state: 'process') do
      = image_tag "complaints/proccess_cases.png"
      Casos en Proceso
  %li{ class: menu_active == 'closed' ? 'active' : nil }
    = link_to complaints_expedients_url(state: 'closed') do
      = image_tag "complaints/closed_cases.png"
      Casos Cerrados
  %li{ class: menu_active == 'users' ? 'active' : nil }
    = link_to complaints_users_url do
      = image_tag "complaints/links.png"
      Enlaces
  %li{ class: menu_active == 'statistics' ? 'active' : nil }
    = link_to '/' do
      = image_tag "complaints/statistics.png"
      Estadísticas
  %li{ class: menu_active == 'documents' ? 'active' : nil }
    = link_to '/' do
      = image_tag "complaints/new_cases.png"
      Archivos
