%h2
  = @item.name

%hr

%h4
  = t 'activerecord.attributes.cns_timeline.timeline_date'
%blockquote
  = l @item.timeline_date, format: :default
%h4
  = t 'activerecord.attributes.cns_timeline.name'
%blockquote
  = @item.name
%h4
  = t 'activerecord.attributes.cns_timeline.description'
%blockquote
  = @item.description
%h4
  = t 'activerecord.attributes.cns_timeline.url'
%blockquote
  = @item.url
