.login-container
  .row
    .col-sm-5
      #login.animated.bounceInDown{ class: controller.controller_name == 'sessions' ? 'show' : 'hide' }
        %h4
          Ingresar a tu cuenta de Gobierno Abierto
        %p
          Si ya posees una cuenta de Gobierno Abierto

        -#
          .row
            .col-sm-12
              = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-dark-blue' do
                %span.icon-facebook
                = t('.signin_with', provider: t('.facebook'))
          -#
            .col-sm-6
            = link_to omniauth_authorize_path('user', :google_oauth2), class: 'btn btn-red' do
              = t('.signin_with', provider: t('.google_oauth2'))
        %br
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group.has-feedback
            = f.email_field :email, class: 'input-lg form-control', placeholder: t('.email_placeholder'), autofocus: true
            %span{class: "glyphicon glyphicon-envelope form-control-feedback", :"aria-hidden"=>true}
          .form-group.has-feedback
            = f.password_field :password, class: 'input-lg form-control', autocomplete: 'off', placeholder: t('.password_placeholder')
            %span{class: "glyphicon glyphicon-lock form-control-feedback", :"aria-hidden"=>true}

          = f.submit t('.login'), class: 'center-block btn btn-blue btn-lg'
        = link_to "Olvidó su contraseña?", new_password_path(resource_name)

    .col-sm-5.col-sm-offset-2
      #register
        %h4
          Regístrate
        %p
          Crear una cuenta en Gobierno Abierto es gratis
          = image_tag("shared/bg-register.png")
        .row
          .col-xs-12.text-center
            = link_to t('.signup'), new_user_registration_url, class: 'btn btn-success btn-lg'
        =# f.submit t('.signup'), class: 'center-block btn btn-blue btn-lg'
  
