- if timelines.size > 0
  .row-fluid
    .clearfix
      = link_to 'javascript:;', class: 'litoral-prev pull-left' do
        = image_tag('consulta/slider-prev.png')
      = link_to 'javascript:;', class: 'litoral-next pull-right' do
        = image_tag('consulta/slider-next.png')
    .litoral
      %ul
        - 10.times do 
          - timelines.each do |timeline|
            %li
              %strong
                - if timeline.url.present?
                  = link_to timeline.name, timeline.url, target: '_blank'
                - else
                  = timeline.name
              %p
                = timeline.description
              .sign
                = l(timeline.timeline_date, format: :tiny)
