.container-fluid.download-plan
  .row
    .col-md-3.col-md-offset-2.text-center
      .download-section-1
        = image_tag('consulta/manual1.png')
    .col-md-5.text-center
      .download-section-2
        %h2.plan
          = t('layouts.consulta.plan_title')
        %p
          = t('layouts.consulta.plan_date')
        .download-documents
          = link_to image_tag('consulta/pdf-icon.png') + t('layouts.consulta.download_pdf'), asset_url('BORRADOR PQD 2014-2019.pdf'), class: "pdf-icon", target: '_blank'
          =# link_to image_tag('consulta/ppt-icon.png') + t('layouts.consulta.download_ppt'), "#", class: "ppt-icon"
    .clearfix
- if @categories.size > 0
  .container-fluid.main-categories#main-categories
    .row
      .col-md-6.col-md-offset-3.text-center
        %h2
          = "Ejes Principales del Plan de Gobierno"
        %span
          = "los puede encontrar dentro del documento"
        .list
          - @categories.each_with_index do |category|
            .list-category
              .list-category-image
                = image_tag(category.icon.url(:icon)) if category.icon.present?
              = link_to category.name, consulta_cns_category_path(category), class: 'list-category-name'

          .clearfix
.container-fluid.news-section
  .row
    .col-md-4.col-md-offset-2
      .article-section
        %h3.plan
          = "Noticias"
        - unless @articles.nil?
          - @articles.each_with_index do |article,i|
            .article-item{class: "#{i == @articles.size - 1 ? 'disable-border' : ''}"}
              - if article.picture.present?
                .container-fluid
                  .row
                    .col-md-4
                      .article-image
                        = link_to image_tag(article.picture.url(:medium), class: "img-responsive"), consulta_cns_article_url(article)
                    .col-md-8
                      = link_to article.name, consulta_cns_article_url(article), class: 'article-name'
              - else
                .container-fluid
                  .row
                    .col-md-12
        = link_to "Ver todas las noticias", consulta_cns_articles_path, class: "news-link"
    .col-md-4
      .event-section
        %h3
          = "Eventos"
        - unless @events.nil?
          - @events.each_with_index do |event,i|
            .container-fluid.event-item{class: "#{i == @events.size - 1 ? 'disable-border' : ''}"}
              .row
                .col-md-2
                  = event.event_date
                .col-md-10
                  = link_to event.name, consulta_cns_event_url(event), class: 'event-name'
        = link_to "Ver Calendario Completo", consulta_cns_events_url, class: "news-link"

- unless @tweets.nil?
  .container-fluid.social-networks-comments.visible-lg
    = image_tag('consulta/twitter-icon2.png', alt: 'Twitter')
    %h2
      = "Que esta diciendo la gente"
    %span
      = "#ConsultaPQD"
    .row
      .col-md-8.col-md-offset-2.text-center.comments-wrapper
        = link_to "Tweets sobre #ConsultaPQD", "https://twitter.com/hashtag/ConsultaPQD", class: "twitter-timeline", :'data-widget-id' => "520298274121474048"
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
