- unless f.object.new_record?
  %h3
    = f.object.payroll_patron.name
  %h4
    = f.object.payroll_patron.payroll_sector.name
  %h4
    = f.object.payroll_patron.payroll_economic_activity.name
  %hr
= f.text_field :periodo, class: 'form-control'
= f.text_field :id_causa_complemento, class: 'form-control'
= f.text_field :tasa_cotiz_lab_ivm, class: 'form-control'
= f.text_field :impresa, class: 'form-control'
= f.text_field :tipo_mora, class: 'form-control'
= f.text_field :maximo_cotizable_fsv, class: 'form-control'
= f.text_field :correlativo_centro_trabajo, class: 'form-control'
= f.text_field :cambio_nota_detalle, class: 'form-control'
= f.text_field :id_usuario, class: 'form-control'
= f.text_field :correlativo_original_migracion, class: 'form-control'
= f.select :id_codigo_observacion, @payroll_observation_codes.map { |i| [i.name, i.id] }
= f.text_field :id_sucursal, class: 'form-control'
= f.text_field :aporte_pat_ivm, class: 'form-control'
= f.text_field :horas, class: 'form-control'
= f.text_field :tasa_cotiz_pat_ivm, class: 'form-control'
= f.text_field :tasa_cotiz_pat_fsv, class: 'form-control'
= f.text_field :maximo_cotizable, class: 'form-control'
= f.text_field :aporte_patronal, class: 'form-control'
= f.text_field :monto_vacacion, class: 'form-control'
= f.text_field :monto_salario, class: 'form-control'
= f.text_field :id_tipo_pago_planilla, class: 'form-control'
= f.text_field :aporte_total_ivm, class: 'form-control'
= f.text_field :aporte_total, class: 'form-control'
= f.select :id_estado_planilla, @payroll_statuses.map { |i| [i.name, i.id] }
= f.text_field :tasa_cotiz_laboral, class: 'form-control'
= f.text_field :monto_pago_adicional, class: 'form-control'
= f.select :id_tipo_planilla, @payroll_types.map { |i| [i.name, i.id] }
= f.text_field :aporte_total_fsv, class: 'form-control'
= f.text_field :aporte_lab_fsv, class: 'form-control'
= f.text_field :cambio_nota, class: 'form-control'
= f.text_field :aporte_laboral, class: 'form-control'
= f.text_field :tasa_cotiz_patronal, class: 'form-control'
= f.text_field :no_afiliacion_trabajador, class: 'form-control'
= f.text_field :mecanizada, class: 'form-control'
= f.text_field :tasa_cotiz_lab_fsv, class: 'form-control'
= f.text_field :dias, class: 'form-control'
= f.text_field :no_patronal, class: 'form-control'
= f.text_field :maximo_cotizable_ivm, class: 'form-control'
= f.date_select :fecha_presentacion_planilla, {}, { class: 'form-control date-select' }
= f.text_field :id_procesamiento, class: 'form-control'
= f.text_field :aporte_lab_ivm, class: 'form-control'
= f.text_field :grupo_recepcion, class: 'form-control'
= f.text_field :aporte_pat_fsv, class: 'form-control'
= f.text_field :complementaria, class: 'form-control'
= f.text_field :correlativo_empleado, class: 'form-control'
= f.text_field :dias_vacacion, class: 'form-control'
= f.text_field :tipo_procesamiento
