.modal-dialog.modal-lg{role: "document"}
  .modal-content
    .clip
      = image_tag("employments/icon-clip.png")
    .modal-body
      .job-detail
        .job-detail-header
          .row
            .col-xs-5
              .yellow
                = truncate @job.institution_code, length: 7
            .col-xs-7
              %div{id: "shareButtonLabelCount#{@job.id}"}
              :javascript
                $("#shareButtonLabelCount#{@job.id}").jsSocials({
                  url: "#{employments_job_url(@job)}",
                  text: "#{@job.post_name}",
                  showCount: true,
                  showLabel: true,
                  shares: ["twitter", "facebook", "googleplus", "linkedin"]
                })
              %h2
                = @job.post_name
        .row
          .col-xs-7
            %div
              %strong= "Tipo de convocatoria: "
              %br
              = simple_format @job.convocation_name
            %br
            %div
              %strong= "Descripción: "
              %br
              = @job.description
            %br
            %div
              %strong= "Mision: "
              %br
              = @job.mission
            %br
            %div
              %strong= "Funciones: "
              %br
              = @job.function
            - if @job.degrees.count > 0
              %br
              %div
                %strong= "Formación académica: "
                - @job.degrees.each do |degree|
                  %div
                    %span.label{ class: degree.req_code.to_i == 1 ? 'label-info' : ( degree.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                      = degree.req_name
                    = sanitize degree.gra_name
            - if @job.experiences.count > 0
              %br
              %div
                %strong= "Experiencia requerida: "
                - @job.experiences.each do |experience|
                  %div
                    %span.label.label-default
                      = experience.exp_name
                    = sanitize experience.exp_description
            - if @job.technical_competences.count > 0
              %br
              %div
                %strong= "Competencias técnicas: "
                - @job.technical_competences.each do |competence|
                  %div
                    %span.label{ class: competence.req_code.to_i == 1 ? 'label-info' : ( competence.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                      = competence.req_name
                    = sanitize competence.name

          .col-xs-5
            .well
              %h4
                Datos Generales
              %p
                = "Institución: "
                = @job.institution_name
              %p
                = "Salario: "
                = number_to_currency(@job.salary)
              %p
                = "Vacantes: "
                = @job.vacancies
              %p
                = "Correo: "
                = @job.email
              %p
                = "Direccion: "
                = @job.address
              %hr
              -#
                %h4
                  Criterios de evaluación
                %p
                  = "Institución: "
                  = @job.institution_name
        .row
          .col-sm-12.center-block
            .btn-toolbar{role: "toolbar"}
              .line.visible-lg-inline-block
              .btn-group{role: "group"}
                = link_to "Aplicar", contact_employments_job_url(@job), remote: true, class: "btn btn-primary"
              .line.visible-lg-inline-block
    -#
      .modal-footer
        .text-center
          = "Compartir a un amigo esta plaza. #{link_to("compartir esta plaza", nil)}".html_safe
