= render partial: 'layouts/employments/breadcrumb'
#lastjobs
  .container
    .row
      .col-sm-12
        %h2.header-title
          = "Todas las plazas disponibles"
        .job-list
          - if @jobs.count > 0
            - @jobs.each_with_index do |plaza, i|
              .job
                .job-title
                  = plaza.post_name
                .row
                  .col-xs-5
                    %p
                      = "Institución: "
                      = plaza.institution_name
                    %p
                      = "Salario: "
                      = number_to_currency(plaza.salary)
                    %p
                      = "Vacantes: "
                      = plaza.vacancies
                    %p
                      = "Fecha limite de inscripción: "
                      = l(plaza.closing_registration, format: :date)
                    %p
                      .btn-toolbar{role: "toolbar"}
                        .row
                          .col-xs-6.col-md-4
                            .btn-group{role: "group"}
                              = link_to "Aplicar", contact_employments_job_url(plaza), remote: true, class: "btn btn-primary"
                          .col-xs-6.col-md-8
                            .btn-group{role: "group"}
                              = link_to "Ver detalle", employments_job_url(plaza), remote: true
                  .col-xs-7
                    %div
                      = "Descripción: "
                      %br
                      = plaza.description.present? ? simple_format(plaza.description) : 'Ninguno'
                    %br
                    #shareButtonLabelCount{class: "plaza-#{i}"}
                    :javascript
                      $('.plaza-#{i}').jsSocials({
                        url: "#{employments_job_url(plaza)}",
                        text: "#{plaza.post_name}",
                        showCount: true,
                        showLabel: true,
                        shares: ["twitter", "facebook", "googleplus", "linkedin"]
                      })
            %center
              = will_paginate @jobs, renderer: BootstrapPagination::Rails
          - else
            .well
              Lo sentimos, no hay empleos disponibles para su búsqueda
