= render partial: 'layouts/employments/breadcrumb'
#lastjobs
  .container
    .row
      .col-xs-12
        %ul.nav.nav-tabs{role: 'tablist'}
          %li.presentation{ class: params[:q][:plaza_state_id_in].include?('2') ? 'active' : nil }
            = link_to 'Empleos disponibles', employments_jobs_url(q: params[:q].try(:merge, plaza_state_id_in: [2]))
          %li.presentation{ class: params[:q][:plaza_state_id_in].include?('3') ? 'active' : nil }
            = link_to 'Empleos en evaluación', employments_jobs_url(q: params[:q].try(:merge, plaza_state_id_in: [3,5,6]))
          %li.presentation{ class: params[:q][:plaza_state_id_in].include?('4') ? 'active' : nil }
            = link_to 'Empleos cerrados', employments_jobs_url(q: params[:q].try(:merge, plaza_state_id_in: [4]))
    %br
    .row
      .col-xs-12.col-sm-4
        - if @institutions.size > 0
          .institutions-list
            %ul.nav.nav-pills{role: "tablist"}
              %li{role: "presentation"}
                = link_to 'Todas las instituciones', employments_jobs_url(q: params[:q].try(:merge, institution_id_eq: nil)), title: 'Ver todas las instituciones', class: "badge #{params[:q][:institution_id_eq].blank? ? "badge-selected" : ""}", data: { toggle: 'tooltip', placement: 'top' }
              - @institutions.each do |institution|
                %li{role: "presentation"}
                  = link_to institution.institution_code, employments_jobs_url(q: params[:q].try(:merge, institution_id_eq: institution.institution_id)), title: institution.institution_name, class: "badge #{params[:q][:institution_id_eq].to_i == institution.institution_id.to_i ? "badge-selected" : ""}", data: { toggle: 'tooltip', placement: 'top' }
      .col-xs-12.col-sm-8.dashed-border
        -#
          %h2.header-title
            = "Todos los empleos públicos disponibles"
        .job-list
          - if @jobs.count > 0
            = render collection: @jobs, partial: 'employments/public_competitions/list_public_competition'
            %center
              = will_paginate @jobs, renderer: BootstrapPagination::Rails
          - else
            .well
              Lo sentimos, no hay empleos disponibles para su búsqueda. Puede probar nuevamente
              = link_to "limpiando sus filtros de búsqueda.", employments_jobs_url(q: { plaza_state_id_in: params[:q][:plaza_state_id_in] })
