= render partial: 'layouts/employments/breadcrumb'

#lastjobs
  .container
    .row
      .col-sm-12
        %h2.header-title
          = "Todas las plazas disponibles"
        .job-list
          - if @jobs.count > 0
            - @jobs.each do |plaza|
              .job
                .job-title
                  = plaza.post_name
                .row
                  .col-xs-5
                    %p
                      = "Institución: "
                      = plaza.institution_name
                    %p
                      = "Salario: "
                      = number_to_currency(plaza.salary)
                    %p
                      = "Vacantes: "
                      = plaza.vacancies
                    %p
                      .btn-toolbar{role: "toolbar"}
                        .btn-group{role: "group"}
                          = link_to "Aplicar", "http://sapt.presidencia.gob.sv/dotacion/Default.aspx", class: "btn btn-primary"
                        .btn-group{role: "group"}
                          = link_to "Ver detalle", employments_job_url(plaza)
                  .col-xs-7
                    %p
                      = "Descripción: "
                      %br
                      =  plaza.description
          - else
            .well
              Lo sentimos, no hay empleos disponibles para su búsqueda
