= render partial: 'layouts/employments/breadcrumb'

.container
  .row
    .col-xs-12
      .alert.alert-info
        El proceso completo de postulaciones se inició el 27 de abril de 2016. Para plazas publicadas antes de esta fecha y que ya se encuentran cerradas, puede verse el "Resumen de cierre"
        = link_to "dando clic aquí", employments_job_url(@job)

  .row
    .col-sm-12
      %h2
        Proceso de contratación
      %p
        Etapas del proceso de contratación, la flecha con color rojo, indica la etapa del proceso en que se encuentra la plaza actualmente.
      %p
        Cada etapa de evaluación tiene una ponderación asignada, si esta ya fue definida por la institución, aparecera entre parentesis en forma de porcentaje. La suma de estas ponderaciones dará la nota final del postulante (100%).
  .row
    .col-sm-12
      .progress-job
        .item-progress{ class: @job.plaza_state_id == 2 ? 'active' : nil }
          = image_tag("employments/step-1.jpeg", class: "img-responsive")
          .description-selection-step1
            %h4
              Recepción del CV
            -#
              %span
                140
                recibidos
          - if @job.plaza_state_id > 1
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step1' }}
                Ver detalle
        .item-progress{ class: [3, 5].include?(@job.plaza_state_id) ? 'active' : nil }
          = image_tag("employments/step-2.jpeg", class: "img-responsive")
          .description-selection-step2
            %h4
              Revisión curricular
              - if @job.assigned_score_academic
                = "(#{@job.assigned_score_academic.round(0)}%)"
            -#
              %span
                140
                seleccionados
          - if @job.plaza_state_id > 2
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step2' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 6 ? 'active' : nil }
          = image_tag("employments/step-3.jpeg", class: "img-responsive")
          .description-selection-step3
            %h4
              Pruebas técnicas
              - if @job.assigned_score_technique
                = "(#{@job.assigned_score_technique.round(0)}%)"
            -#
              %span
                Fecha estimada:
                = "21 de agosto 2016"
          - if [4,6].include?(@job.plaza_state_id)
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step3' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 6 ? 'active' : nil }
          = image_tag("employments/step-4.jpeg", class: "img-responsive")
          .description-selection-step4
            %h4
              Pruebas conductuales
              - if @job.assigned_score_behavior
                = "(#{@job.assigned_score_behavior.round(0)}%)"
            -#
              %span
                Fecha estimada:
                = "25 de agosto 2016"
          - if [4,6].include?(@job.plaza_state_id)
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step4' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 6 ? 'active' : nil }
          = image_tag("employments/step-5.jpeg", class: "img-responsive")
          .description-selection-step5
            %h4
              Entrevistas
              - if @job.assigned_score_interview
                = "(#{@job.assigned_score_interview.round(0)}%)"
            -#
              %span
                Fecha estimada:
                = "27 de agosto 2016"
          - if [4,6].include?(@job.plaza_state_id)
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step5' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 4 ? 'active' : nil }
          = image_tag("employments/step-6.jpeg", class: "img-responsive")
          .description-selection-step6
            %h4
              Selección Final
            -#
              %span
                Fecha estimada:
                = "31 de agosto 2016"
          - if @job.plaza_state_id == 4
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step6' }}
                Ver detalle

        .clearfix




/ Bootstrap modals
#step1.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Recepción del CV
      .modal-body
        %p
          = "De un total de #{@job.applications_total} postulaciones, se recibieron #{@job.postulants.count} cvs que cumplian con los requisitos académicos de la plaza. A continuación el detalle:"
        - if @job.postulants.count == 0
          .well
            No hay postulaciones a la plaza
        - else
          %table.table.table-hover
            %tr.active
              %th
                Postulante
              %th
                Fecha postulación
            - @job.postulants.each do |postulant|
              %tr
                %td
                  = postulant.postulant_code
                %td
                  = postulant.created_date.try(:strftime, '%d/%m/%Y')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step2.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Revisión curricular
      .modal-body
        #accordion-1.panel-group{ role: 'tablist', 'aria-multiselectable' => 'true' }
          - if @job.postulants.count == 0
            .well
              No hay postulaciones a la plaza
          - else
            - @job.postulants.order(:stpp_id).each do |postulant|
              .panel.panel-default
                .panel-heading{ role: 'tab', id: "heading-1-#{postulant.id}" }
                  %h4.panel-title
                    = link_to "#collapse-1-#{postulant.id}", role: 'button', data: { toggle: 'collapse', parent: '#accordion-1' }, aria: { expanded: 'true', controls: "collapse-1-#{postulant.id}" } do
                      = postulant.postulant_code
                      %small
                        = "(#{postulant.state})"
                .panel-collapse.collapse{id: "collapse-1-#{postulant.id}", role: 'tabpanel', 'aria-labelledby' => "heading-1-#{postulant.id}"}
                  .panel-body
                    - if postulant.postulant_comments.any?
                      %ul.list-unstyled
                        - postulant.postulant_comments.uniq.each do |c|
                          %li
                            %span.glyphicon.glyphicon-comment
                            = c.comment
                    - if postulant.postulant_evaluations.academic.any?
                      %table.table.table-hover.table-striped
                        %tr
                          %th
                            Nombre
                          %th
                            Porcentaje
                          %th
                            Nota
                          %th
                            Nota global
                        - postulant.postulant_evaluations.academic.each do |t|
                          %tr
                            %td
                              = t.name
                            %td
                              = '%.2f' % t.weight
                            %td
                              = '%.2f' % t.calification
                            %td
                              = '%.2f' % t.obtained_score
                        %tr
                          %td
                            %strong
                              Total obtenido
                            %th
                            %th
                            %th
                              %strong
                                = '%.2f' % postulant.postulant_evaluations.academic.pluck(:obtained_score).sum rescue ''
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step3.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Pruebas técnicas
      .modal-body
        #accordion-3.panel-group{ role: 'tablist', 'aria-multiselectable' => 'true' }
          - @job.postulants.approved.order(:stpp_id).each do |postulant|
            .panel.panel-default
              .panel-heading{ role: 'tab', id: "heading-3-#{postulant.id}" }
                %h4.panel-title
                  = link_to postulant.postulant_code, "#collapse-3-#{postulant.id}", role: 'button', data: { toggle: 'collapse', parent: '#accordion-3' }, aria: { expanded: 'true', controls: "collapse-3-#{postulant.id}" }
              .panel-collapse.collapse{id: "collapse-3-#{postulant.id}", role: 'tabpanel', 'aria-labelledby' => "heading-3-#{postulant.id}"}
                .panel-body
                  - if postulant.postulant_evaluations.technique.any?
                    %table.table.table-hover.table-striped
                      %tr
                        %th
                          Nombre
                        %th
                          Porcentaje
                        %th
                          Nota
                        %th
                          Nota global
                      - postulant.postulant_evaluations.technique.each do |t|
                        %tr
                          %td
                            = t.name
                          %td
                            = '%.2f' % t.weight
                          %td
                            = '%.2f' % t.calification
                          %td
                            = '%.2f' % t.obtained_score
                      %tr
                        %td
                          %strong
                            Total obtenido
                          %th
                          %th
                          %th
                            %strong
                              = '%.2f' % postulant.postulant_evaluations.technique.pluck(:obtained_score).sum rescue ''
                  - else
                    .well
                      No se realizaron pruebas técnicas
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step4.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Pruebas conductuales
      .modal-body
        #accordion-4.panel-group{ role: 'tablist', 'aria-multiselectable' => 'true' }
          - @job.postulants.approved.order(:stpp_id).each do |postulant|
            .panel.panel-default
              .panel-heading{ role: 'tab', id: "heading-4-#{postulant.id}" }
                %h4.panel-title
                  = link_to postulant.postulant_code, "#collapse-4-#{postulant.id}", role: 'button', data: { toggle: 'collapse', parent: '#accordion-4' }, aria: { expanded: 'true', controls: "collapse-4-#{postulant.id}" }
              .panel-collapse.collapse{id: "collapse-4-#{postulant.id}", role: 'tabpanel', 'aria-labelledby' => "heading-4-#{postulant.id}"}
                .panel-body
                  - if postulant.postulant_evaluations.behavior.any?
                    %table.table.table-hover.table-striped
                      %tr
                        %th
                          Nombre
                        %th
                          Porcentaje
                        %th
                          Nota
                        %th
                          Nota global
                      - postulant.postulant_evaluations.behavior.each do |t|
                        %tr
                          %td
                            = t.name
                          %td
                            = '%.2f' % t.weight rescue ''
                          %td
                            = '%.2f' % t.calification rescue ''
                          %td
                            = '%.2f' % t.obtained_score rescue ''
                      %tr
                        %td
                          %strong
                            Total obtenido
                          %th
                          %th
                          %th
                            %strong
                              = '%.2f' % postulant.postulant_evaluations.behavior.pluck(:obtained_score).sum rescue ''
                  - else
                    .well
                      No se realizaron pruebas conductuales
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step5.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Entrevistas
      .modal-body
        #accordion-5.panel-group{ role: 'tablist', 'aria-multiselectable' => 'true' }
          - @job.postulants.approved.order(:stpp_id).each do |postulant|
            .panel.panel-default
              .panel-heading{ role: 'tab', id: "heading-5-#{postulant.id}" }
                %h4.panel-title
                  = link_to postulant.postulant_code, "#collapse-5-#{postulant.id}", role: 'button', data: { toggle: 'collapse', parent: '#accordion-5' }, aria: { expanded: 'true', controls: "collapse-5-#{postulant.id}" }
              .panel-collapse.collapse{id: "collapse-5-#{postulant.id}", role: 'tabpanel', 'aria-labelledby' => "heading-5-#{postulant.id}"}
                .panel-body
                  - if postulant.postulant_evaluations.interview.any?
                    %table.table.table-hover.table-striped
                      %tr
                        %th
                          Nombre
                        %th
                          Porcentaje
                        %th
                          Nota
                        %th
                          Nota global
                      - postulant.postulant_evaluations.interview.each do |t|
                        %tr
                          %td
                            = t.name
                          %td
                            = '%.2f' % t.weight rescue ''
                          %td
                            = '%.2f' % t.calification rescue ''
                          %td
                            = '%.2f' % t.obtained_score rescue ''
                      %tr
                        %td
                          %strong
                            Total obtenido
                          %th
                          %th
                          %th
                            %strong
                              = '%.2f' % postulant.postulant_evaluations.interview.pluck(:obtained_score).sum rescue ''
                  - else
                    .well
                      No se realizaron entrevistas
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step6.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Selección Final
      .modal-body
        .well
          - if @job.closing_comment.present?
            %p
              = @job.closing_comment
          - if @job.participants_number.to_i > 0
            %p
              Número de participantes:
              = @job.participants_number
          - @job.plaza_contracts.each do |contract|
            %p
              Persona contratada:
              = contract.full_name
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
