= render partial: 'layouts/employments/breadcrumb'

.container
  .row
    .col-xs-12
      .alert.alert-info
        El proceso completo de postulaciones se inició el 27 de abril de 2016. Para plazas publicadas antes de esta fecha y que ya se encuentran cerradas, puede verse el "Resumen de cierre"
        = link_to "dando clic aquí", employments_job_url(@job)

  .row
    .col-sm-12
      %h2
        Proceso de contratación
      %p
        Etapas del proceso de contratación, la flecha con color rojo, indica la etapa del proceso en que se encuentra la plaza actualmente.
  .row
    .col-sm-12
      .progress-job
        .item-progress{ class: @job.plaza_state_id == 2 ? 'active' : nil }
          = image_tag("employments/step-1.jpeg", class: "img-responsive")
          .description-selection-step1
            %h4
              Recepción del CV
            -#
              %span
                140
                recibidos
          - if @job.plaza_state_id > 1
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step1' }}
                Ver detalle
        .item-progress{ class: [3, 5].include?(@job.plaza_state_id) ? 'active' : nil }
          = image_tag("employments/step-2.jpeg", class: "img-responsive")
          .description-selection-step2
            %h4
              Revisión curricular
            -#
              %span
                140
                seleccionados
          - if @job.plaza_state_id > 2
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step2' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 6 ? 'active' : nil }
          = image_tag("employments/step-3.jpeg", class: "img-responsive")
          .description-selection-step3
            %h4
              Pruebas técnicas
            -#
              %span
                Fecha estimada:
                = "21 de agosto 2016"
          - if [4,6].include?(@job.plaza_state_id)
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step3' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 6 ? 'active' : nil }
          = image_tag("employments/step-4.jpeg", class: "img-responsive")
          .description-selection-step4
            %h4
              Pruebas conductuales
            -#
              %span
                Fecha estimada:
                = "25 de agosto 2016"
          - if [4,6].include?(@job.plaza_state_id)
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step4' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 6 ? 'active' : nil }
          = image_tag("employments/step-5.jpeg", class: "img-responsive")
          .description-selection-step5
            %h4
              Entrevistas
            -#
              %span
                Fecha estimada:
                = "27 de agosto 2016"
          - if [4,6].include?(@job.plaza_state_id)
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step5' }}
                Ver detalle
        .item-progress{ class: @job.plaza_state_id == 4 ? 'active' : nil }
          = image_tag("employments/step-6.jpeg", class: "img-responsive")
          .description-selection-step6
            %h4
              Selección Final
            -#
              %span
                Fecha estimada:
                = "31 de agosto 2016"
          - if @job.plaza_state_id == 4
            .view-more
              %button.btn.btn-default{type: 'button', data: { toggle: 'modal', target: '#step6' }}
                Ver detalle

        .clearfix




/ Bootstrap modals
#step1.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Recepción del CV
      .modal-body
        %p
          = "De un total de #{@job.applications_total} postulaciones, se recibieron #{@job.postulants.count} cvs que cumplian con los requisitos académicos de la plaza. A continuación el detalle:"
        - if @job.postulants.count == 0
          .well
            No hay postulaciones a la plaza
        - else
          %table.table.table-hover
            %tr.active
              %th
                Postulante
              %th
                Fecha postulación
            - @job.postulants.each do |postulant|
              %tr
                %td
                  = postulant.postulant_code
                %td
                  = postulant.created_date.try(:strftime, '%d/%m/%Y')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step2.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Revisión curricular
      .modal-body
        - if @job.postulants.count == 0
          .well
            No hay postulaciones a la plaza
        - else
          %table.table.table-hover
            %tr.active
              %th
                Postulante
              %th
                Fecha actualización
              %th
                Estado
            - @job.postulants.each do |postulant|
              %tr
                %td
                  = postulant.postulant_code
                %td
                  = postulant.updated_date.try(:strftime, '%d/%m/%Y')
                %td
                  = postulant.state
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step3.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Pruebas técnicas
      .modal-body
        .well
          No hay información disponible
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step4.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Pruebas conductuales
      .modal-body
        .well
          No hay información disponible
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step5.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Entrevistas
      .modal-body
        .well
          No hay información disponible de momento
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
#step6.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          Selección Final
      .modal-body
        .well
          - if @job.closing_comment.present?
            %p
              = @job.closing_comment
          - if @job.participants_number.to_i > 0
            %p
              Número de participantes:
              = @job.participants_number
          - @job.plaza_contracts.each do |contract|
            %p
              Persona contratada:
              = contract.full_name
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
