.container
  .row
    .col-sm-12
      %h2
        Proceso de contratación
      %p
        Etapas del proceso de contratación, la flecha con color rojo, indica la etapa del proceso que usted se encuentra actuamente
  .row
    .col-sm-12
      .progress-job
        .item-progress
          = image_tag("employments/step-1.jpeg", class: "img-responsive")
          
        .item-progress-active
          = image_tag("employments/step-2.jpeg", class: "img-responsive")  
        .item-progress
          = image_tag("employments/step-3.jpeg", class: "img-responsive")
        .item-progress
          = image_tag("employments/step-4.jpeg", class: "img-responsive")
        .item-progress
          = image_tag("employments/step-5.jpeg", class: "img-responsive")
        .item-progress
          = image_tag("employments/step-1.jpeg", class: "img-responsive")
        .clearfix