= render partial: 'layouts/employments/breadcrumb'
.container
  .job-detail
    .job-detail-header
      .row
        .col-xs-5
          .clip
            = image_tag("employments/icon-clip.png")
          .yellow
            = truncate @job.institution_code, length: 7
        .col-xs-7
          %div{id: "shareButtonLabelCount#{@job.id}"}
          :javascript
            $("#shareButtonLabelCount#{@job.id}").jsSocials({
              url: "#{employments_job_url(@job)}",
              text: "#{@job.post_name}",
              showCount: true,
              showLabel: true,
              shares: ["twitter", "facebook", "googleplus", "linkedin"]
            })
          %h2
            = @job.post_name

    .row
      .col-xs-6
        %div
          %strong= "Tipo de convocatoria: "
          %br
          = simple_format @job.convocation_name
        %br
        %div
          %strong= "Descripción: "
          %br
          = simple_format @job.description
        %br
        %div
          %strong= "Mision: "
          %br
          = simple_format @job.mission
        %br
        %div
          %strong= "Funciones: "
          %br
          = simple_format @job.function
        - if @job.degrees.count > 0
          %br
          %div
            %strong= "Formación académica: "
            - @job.degrees.each do |degree|
              %div
                %span.label{ class: degree.req_code.to_i == 1 ? 'label-info' : ( degree.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                  = degree.req_name
                &nbsp
                = sanitize degree.gra_name
        - if @job.experiences.count > 0
          %br
          %div
            %strong= "Experiencia requerida: "
            - @job.experiences.each do |experience|
              %div
                %span.label.label-default
                  = experience.exp_name
                &nbsp
                = sanitize experience.exp_description
        - if @job.technical_competences.count > 0
          %br
          %div
            %strong= "Competencias técnicas: "
            - @job.technical_competences.each do |competence|
              %div
                %span.label{ class: competence.req_code.to_i == 1 ? 'label-info' : ( competence.req_code.to_i == 2 ? 'label-primary' : 'label-default' ) }
                  = competence.req_name
                &nbsp
                = sanitize competence.name
      .col-xs-6
        .well
          %h4
            Datos Generales
          %p
            = "Institución: "
            = @job.institution_name
          %p
            = "Salario: "
            = number_to_currency(@job.salary)
          %p
            = "Vacantes: "
            = @job.vacancies
          %p
            = "Correo: "
            = @job.email
          %p
            = "Direccion: "
            = @job.address
          %p
            = "Teléfono: "
            = @job.phone
          %hr
          %h4
            Criterios de evaluación
          .table-responsive
            %table.table.table-hover
              %tbody
                - @job.factors.order(:order).each_with_index do |factor, i|
                  %tr
                    %td
                      = i + 1
                    %td
                      = factor.name
                      - if factor.areas.count > 0
                        %ol
                          - factor.areas.each do |area|
                            %li
                              = "#{area.score.to_i} puntos."
                              %nbsp
                              = area.name
                    %td
                      = "#{factor.maximum_score.to_i}max"
                      %br
                      %small
                        = "#{factor.minimum_score.to_i}min"
    .row
      .col-sm-12
        .center-block.hidden-sm.hidden-xs
          .btn-toolbar{role: "toolbar"}
            .line.visible-lg-inline-block.visible-md-inline-block
            .btn-group{role: "group"}
              = link_to "Aplicar", contact_employments_job_url(@job), remote: true, class: "btn btn-primary"
            .line.visible-lg-inline-block.visible-md-inline-block
        .hidden-lg.hidden-md.text-centered
          = link_to "Aplicar", contact_employments_job_url(@job), remote: true, class: "btn btn-primary"
