.container-fluid#header-subpage
  .row
    .col-md-2.col-md-offset-2.text-center
      .wrapper-logo
        = link_to image_tag('consulta/fav-72.png'), root_url
        %h2
          = t('layouts.consulta.title')
        %p.title-plan
          = t('layouts.consulta.five_year_plan_short').html_safe
    .col-md-6.text-center
      .slogan
        %h1
          = t('layouts.consulta.slogan')
        %p.slogan-description
          = t('layouts.consulta.slogan_description').html_safe