%p
  = t 'devise.mailer.reset_password_instructions.content.hello'
  = @resource.email
%p
  = t 'devise.mailer.reset_password_instructions.content.reset_password_has_requested'
%p
  = link_to t('devise.mailer.reset_password_instructions.content.change_password'), edit_password_url(@resource, reset_password_token: @token)
%p
  = t 'devise.mailer.reset_password_instructions.content.ignore_this_email'
%p
  = t 'devise.mailer.reset_password_instructions.content.password_wont_be_changed'
