.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
    .panel.panel-warning
      .panel-heading.clearfix
        %i.icon-file-text
        %h3.panel-title
          = t("activerecord.models.#{model.to_s.underscore}")
      .panel-sub-heading
        %a
          = t '.complete_info'
      .panel-body
        = form_for [namespace, @item] do |f|
          = render partial: 'form', locals: { f: f }
          .text-center
            = f.submit t('.save'), class: 'btn btn-success btn-lg'
