%footer.container-fluid
  .row.pre-footer
    .col-xs-12.col-sm-6.text-center
      %h2
        Transparencia Activa
      %p
        Es un espacio de información y participación ciudadana
      %br
      = image_tag 'ta/gobierno-de-el-salvador.jpg'
    .col-xs-12.col-sm-6
      .categories
        = link_to nil do
          Noticias desde la comunidad
        = link_to nil do
          Participación ciudadana
        = link_to nil do
          Multimedia
        = link_to nil do
          Al aire

      %ul.social.text-center
        %li
          = image_tag 'ta/icon-facebook.png'
          = link_to 'http://www.facebook.com/TransparenciaActiva', target: '_blank' do
            Dale me gusta
        %li
          = image_tag 'ta/icon-twitter-white.png'
          = link_to 'http://twitter.com/TransparenciaSV', target: '_blank' do
            Síguenos
        %li
          = image_tag 'ta/icon-youtube.png'
          = link_to 'http://www.youtube.com/c/TransparenciaActiva', target: '_blank' do
            Subscríbete
  .row.footer
    .col-xs-12.text-center
      = link_to nil do
        Aviso legal
      |
      = link_to nil do
        Aviso legal
      |
      = link_to nil do
        Aviso legal
      |
      = link_to nil do
        Aviso legal
