%footer.container-fluid
  .row.pre-footer
    .col-xs-12.col-sm-6.text-center
      %h2
        Transparencia Activa
      %p
        Es un espacio de información y participación ciudadana
      %br
      = image_tag 'ta/gobierno-de-el-salvador.jpg'
    .col-xs-12.col-sm-6
      .categories
        - @pages.select{ |page| page.top_footer? }.each do |page|
          = link_to ta_page_url(page) do
            = page.name

      %ul.social.text-center
        %li
          = image_tag 'ta/icon-facebook.png'
          = link_to 'http://www.facebook.com/TransparenciaActiva', target: '_blank' do
            Dale me gusta
        %li
          = image_tag 'ta/icon-twitter-white.png'
          = link_to 'http://twitter.com/TransparenciaSV', target: '_blank' do
            Síguenos
        %li
          = image_tag 'ta/icon-youtube.png'
          = link_to 'http://www.youtube.com/c/TransparenciaActiva', target: '_blank' do
            Subscríbete
  .row.footer
    .col-xs-12.text-center
      |
      - @pages.select{ |page| page.bottom_footer? }.each do |page|
        = link_to ta_page_url(page) do
          = page.name
        |
