#pct.row.toggable
  .col-xs-12.col-sm-6
    %article
      = link_to ta_article_url(gallery_articles[0]) do
        = image_tag gallery_articles[0].image.url(:medium), class: 'img-responsive'
      - unless gallery_articles[0].pretitle.blank?
        %small
          = gallery_articles[0].pretitle
      %h3
        = link_to ta_article_url(gallery_articles[0]) do
          = gallery_articles[0].title
  .col-xs-12.col-sm-6
    .row
      - [1, 2].each do |i|
        - unless gallery_articles[i].nil?
          .col-xs-6
            %article
              = link_to ta_article_url(gallery_articles[i]) do
                = image_tag gallery_articles[i].image.url(:medium), class: 'img-responsive'
              %h3
                = link_to ta_article_url(gallery_articles[i]) do
                  = gallery_articles[i].title
              %p
                = truncate gallery_articles[i].summary, length: 150
-#
  .row
    .col-xs-12
      .text-center
        = link_to galleries_ta_articles_url, class: 'btn btn-inverse' do
          Listado completo de galerías
