#pct.row.toggable
  .col-xs-12.col-sm-6
    %article
      = link_to ta_article_url(@gallery) do
        = image_tag @gallery.image.url(:medium), class: 'img-responsive'
      - unless @article.pretitle.blank?
        %small
          = @article.pretitle
      %h3
        = link_to ta_article_url(@gallery) do
          = @gallery.title
  .col-xs-12.col-sm-6
    .row
      - @galleries.each do |gallery|
        .col-xs-6
          %article
            = link_to ta_article_url(gallery) do
              = image_tag gallery.image.url(:medium), class: 'img-responsive'
            %h3
              = link_to ta_article_url(gallery) do
                = gallery.title
            %p
              = truncate gallery.summary, length: 150
-#
  .row
    .col-xs-12
      .text-center
        = link_to galleries_ta_articles_url, class: 'btn btn-inverse' do
          Listado completo de galerías
