:ruby
  visible_categories = @categories.select{ |category| category.inmenu? }
  hidden_categories  = @categories.select{ |category| !category.inmenu? }

.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { target: '.navbar-responsive-collapse', toggle: 'collapse' }}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to ta_root_url, class: 'navbar-brand' do
        = image_tag 'ta/transparencia-activa.jpg', alt: 'Transparencia Activa'
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.navbar-right
        - visible_categories.each do |category|
          %li
            = link_to category.name, ta_category_url(category)

        / Duplicate menu to show on small devices
        - hidden_categories.each do |category|
          %li.hidden-sm.hidden-md.hidden-lg
            = link_to category.name, ta_category_url(category)

        %li.dropdown
          = button_tag class: 'navbar-toggle visible-sm visible-md visible-lg', data: { toggle: 'dropdown' } do
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %ul.dropdown-menu
            - hidden_categories.each do |category|
              %li
                = link_to category.name, ta_category_url(category)
