#social
  .row
    .col-xs-12
      %h4
        Encuentranos REDES SOCIALES

    .col-xs-12

      = link_to 'http://www.facebook.com/TransparenciaActiva', target: '_blank', class: 'btn btn-primary btn-lg' do
        = icon('facebook')

      = link_to 'http://twitter.com/TransparenciaSV', target: '_blank', class: 'btn btn-info btn-lg' do
        = icon('twitter')

      = link_to 'http://www.youtube.com/c/TransparenciaActiva', target: '_blank', class: 'btn btn-danger btn-lg' do
        = icon('youtube')
%br
#sidebar
  .row
    .col-xs-12
      %h4
        Últimas noticias

  - @lastest.each do |article|
    .row
      .col-xs-12
        %article
          - unless article.pretitle.blank?
            %small
              = article.pretitle
          %h3
            = link_to ta_article_url(article) do
              = article.title

  -#
    - unless @audio.nil?
      %hr
      .row
        .col-xs-12
          %h4
            Último audio
      .row
        .col-xs-12
          %article
            - unless @audio.pretitle.blank?
              %small
                = @audio.pretitle
            %h3
              = link_to ta_article_url(@audio) do
                = @audio.title

  %hr
  .row
    .hidden-xs.col-sm-12
      = render partial: 'layouts/ta/banners'

  - unless @tweet.nil?
    %hr
    .row
      .col-xs-12
        .media
          .media-left
            = image_tag 'ta/icon-twitter-blue.png', class: 'media-object'
          .media-body
            %h3
              = link_to 'http://twitter.com/TransparenciaSV', target: '_blank' do
                @TransparenciaSV
        .media
          .media-left
            = image_tag @tweet.user.profile_image_url, class: 'media-object'
          .media-body
            %p.text-muted
              = @tweet.user.name
              = "@#{@tweet.user.screen_name}"
            %p
              = raw auto_link(@tweet.text)

  - unless @related.nil? || @related.length == 0
    %hr
    .row
      .col-xs-12
        %h4
          Otras noticias

    - @related.each do |article|
      .row
        .col-xs-12
          %article
            - unless article.pretitle.blank?
              %small
                = article.pretitle
            %h3
              = link_to ta_article_url(article) do
                = article.title
  - if @jobs.count > 0
    %hr
    .row
      .col-xs-12
        %h4
          Empleos públicos disponibles
    .row
      .job-list.slick
        - @jobs.each do |plaza|
          .job
            .job-title.text-center
              = plaza.post_name
            %p
              = "Institución: "
              = plaza.institution_name
            %p
              = "Salario: "
              = number_to_currency(plaza.salary)
            %p
              = "Vacantes: "
              = plaza.vacancies
            %p
              .text-center
                = link_to "Ver detalle", "http://www.empleospublicos.gob.sv/jobs/#{plaza.id}", target: '_blank', class: 'btn btn-info'
      %br
      .text-center
        = link_to 'Ver todos los empleos públicos', 'http://www.empleospublicos.gob.sv', target: '_blank', class: 'btn btn-primary'
