- unless @featured.length < 3
  #slider.carousel.slide{ 'data-ride' => 'carousel' }
    .carousel-inner{ role: 'listbox' }

      - @featured.each do |article|

        .item{ class: article == @featured.first ? 'active' : nil }
          = image_tag article.image.url(:large), class: 'img-responsive'
          .carousel-caption
            %small
              Especiales
            %h2
              = link_to ta_article_url(article) do
                = article.title

            -#
              = link_to nil, class: 'media-link' do
                = image_tag 'ta/icon-videos.png'
                Ver video

              = link_to nil, class: 'media-link' do
                = image_tag 'ta/icon-pictures.png'
                Ver fotografías

    / Controls
    = link_to '#slider', 'data-slide' => 'prev', :href => '#slider', role: 'button', class: 'left carousel-control' do
      %span.glyphicon.glyphicon-chevron-left{ 'aria-hidden' => 'true' }
      %span.sr-only Anterior
    = link_to '#slider', 'data-slide' => 'next', :href => '#slider', role: 'button', class: 'right carousel-control' do
      %span.glyphicon.glyphicon-chevron-right{ 'aria-hidden' => 'true' }
      %span.sr-only Siguiente
