
%script{ id: 'report-form-tpl', type: 'text/x-handlebars-template' }
  .template
    = form_for @payroll_view, url: admin_ofcia_payroll_views_url, method: :post, remote: true, html: { class: 'form-inline' } do |f|
      .form-group
        = f.label :sector_id, 'Sector'
        = f.select :sector_id, @sectors.map{ |s| [s.name, s.id] }, { include_blank: '-- Todos --' }, { class: 'form-control' }
      .form-group
        = f.label :economic_activity_group_id, 'Grupo de actividades económicas'
        = f.select :economic_activity_group_id, @economic_activity_groups.map{ |s| [s.name, s.id] }, { include_blank: '-- Todos --' }, { class: 'form-control' }
      .form-group
        = f.label :economic_activity_id, 'Actividad económica'
        = f.select :economic_activity_id, @economic_activities.map{ |s| [s.economic_activity_name, s.economic_activity_id] }, { include_blank: '-- Todos --' }, { class: 'form-control' }
      .form-group
        = f.label :year, 'Año'
        = f.select :year, @years.map{ |y| [y, y] }, { include_blank: '-- Todos --' }, { class: 'form-control' }
      .form-group
        = f.label :month, 'Mes'
        = f.select :month, @months.map{ |m| [m, m] }, { include_blank: '-- Todos --' }, { class: 'form-control' }
      .form-group
        = f.label :nil, '&nbsp;'.html_safe
        = f.submit 'Filtrar', class: 'btn btn-default'
    %table.table

#payroll-views

.clearfix
  = link_to 'Agregar', nil, class: 'btn btn-success pull-right add-payroll-view'
