.form-group
  = f.label :event_date
  = f.date_field :event_date, class: 'form-control', required: true
.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control', required: true
.form-group
  = f.label :description
  = f.text_area :description, class: 'form-control', rows: 5
