.side-menu
  %ul.nav.nav-pills.nav-stacked.nav-pills-stacked-example
    %li{class: "hidden-xs #{f=='personal' ? 'active-item' : ''}"}
      = link_to image_tag("#{f=='personal' ? 'employments/icon-cv-active.png' : 'employments/icon-cv.png'}") + "Mi CV", personal_employments_resumes_path
    
    %li{class: "hidden-xs #{f=='edit' ? 'active-item' : ''}"}
      = link_to image_tag("#{f=='edit' ? 'employments/icon-user-job-active.png' : 'employments/icon-user-job.png'}") + "Mi Perfil", edit_user_registration_path
    %li{class: "hidden-xs #{f=='postulations' ? 'active-item' : ''}"}
      = link_to image_tag("#{f=='postulations' ? 'employments/icon-postulation-active.png' : 'employments/icon-postulation.png'}") + "Postulaciones", postulations_employments_resumes_url
    %li{class: "hidden-xs #{f=='' ? 'active-item' : ''}"}
      = link_to image_tag("employments/icon-jobs.png") + "Ver plazas", employments_jobs_path
    %li.dropdown.visible-xs
      = link_to "#", class: "dropdown-toggle", role: "button", data: {toggle: "dropdown"}, aria: {expanded: "true", haspopup: "true"} do 
        MENU
        %ul.dropdown-menu
          %li{class: "#{f=='personal' ? 'active-item' : ''}"}
            = link_to image_tag("#{f=='personal' ? 'employments/icon-cv-active.png' : 'employments/icon-cv.png'}") + "Mi CV", personal_employments_resumes_path
          
          %li{class: "#{f=='edit' ? 'active-item' : ''}"}
            = link_to image_tag("#{f=='edit' ? 'employments/icon-user-job-active.png' : 'employments/icon-user-job.png'}") + "Mi Perfil", edit_user_registration_path
          %li{class: "#{f=='postulations' ? 'active-item' : ''}"}
            = link_to image_tag("#{f=='postulations' ? 'employments/icon-postulation-active.png' : 'employments/icon-postulation.png'}") + "Postulaciones", postulations_employments_resumes_url
          %li{class: "#{f=='' ? 'active-item' : ''}"}
            = link_to image_tag("employments/icon-jobs.png") + "Ver plazas", employments_jobs_path
    .clearfix

