.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control', required: true

.form-group
  = f.label :description
  = f.text_area :description, class: 'form-control', rows: 5

.form-group
  = f.label :icon
  = f.file_field :icon, 'data-preview' => true
  = image_tag(@item.icon.present? ? @item.icon.url(:icon) : 'admin/missing.png')
