= javascript_include_tag 'admin/cns_categories'

.form-group
  = f.label :icon
  = f.file_field :icon, required: true

#image-preview
  = link_to t("forms.picture_select"), "#", id: "image-url"
  = image_tag("consulta/missing.png", alt: t("forms.no_picture_selected"), id: "preview")
.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control', required: true
.form-group
  = f.label :description
  = f.text_area :description, class: 'form-control', rows: 5
