%h2
  = @item.name

%hr

%h4
  = t 'activerecord.attributes.cns_category.name'
%blockquote
  = @item.name
%h4
  = t 'activerecord.attributes.cns_category.description'
%blockquote
  = @item.description
