.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .panel.panel-default
      .panel-heading
        = model.model_name.human
      .panel-body
        = nested_form_for [namespace, @item], html: { id: 'item-form', class: 'form-horizontal dropzone', multipart: true } do |f|
          = render partial: 'form', locals: { f: f }

          .text-center
            = f.submit t('.save'), class: 'btn btn-primary btn-lg'

      .panel-footer.clearfix
        = link_to index_url, class: 'btn btn-default btn-sm' do
          %span.glyphicon.glyphicon-arrow-left
          = t '.list'

        = link_to item_url(@item), class: 'btn btn-danger btn-sm pull-right', method: :delete, data: { confirm: t('.confirm_delete')} do
          %span.glyphicon.glyphicon-trash
          = t '.delete'
