%h1
  Tablero
.content
  - if @new_managements.count > 0
    .row
      .col-xs-12
        %table.table
          %thead
            %tr
              %th{colspan: 5}
                Horas transcurridas sin comunicarse con el usuario
          %tbody.list-expedients
            - @new_managements.each do |management|
              %tr
                %td
                  = link_to complaints_expedient_url(management.expedient) do
                    %span{ class: management.hours_passed <= 24 ? 'text-success' : ( management.hours_passed <= 48 ? 'text-warning' : 'text-danger' ) }
                      = management.hours_passed
                      horas
                %td
                  = link_to management.expedient.try(:correlative), complaints_expedient_url(management.expedient)
                %td
                  = link_to management.kind_s, complaints_expedient_url(management.expedient)
                %td
                  = link_to management.expedient.try(:contact), complaints_expedient_url(management.expedient)
                %td
                  = link_to complaints_expedient_url(management.expedient), class: 'show-item' do
                    &nbsp

  .row
    - if @last_managements.count > 0
      .col-sm-12.col-xs-12.col-md-12.col-lg-6
        .gray_widget
          %p.blue
            Últimos casos resueltos
          %table.table.borderless.m0
            %tbody.list-expedients
              - @last_managements.each do |management|
                %tr
                  %td
                    = link_to management.expedient.try(:correlative), complaints_expedient_url(management.expedient)
                  %td
                    = link_to management.kind_s, complaints_expedient_url(management.expedient)
                  %td
                    = link_to management.expedient.try(:contact), complaints_expedient_url(management.expedient)
                  %td
                    = link_to complaints_expedient_url(management.expedient), class: 'show-item' do
                      &nbsp
    .col-sm-12.col-xs-12.col-md-12.col-lg-6
      .gray_widget
        %p.blue
          Total de casos
        .row
          .col-xs-12
            .clearfix
              .bg-news.pull-left
                = @new
              .total-title.pull-left
                = link_to complaints_expedients_url(state: 'new') do
                  Casos nuevos
        %br
        .row
          .col-xs-12
            .clearfix
              .bg-process.pull-left
                = @process
              .total-title.pull-left
                = link_to complaints_expedients_url(state: 'process') do
                  Casos en proceso
        %br
        .row
          .col-xs-12
            .clearfix
              .bg-closed.pull-left
                = @closed
              .total-title.pull-left
                = link_to complaints_expedients_url(state: 'closed') do
                  Casos cerrados
