%h2
  = @category.name
.category-description
  = @category.description unless @category.description.nil?
- if @proposals.size == 0
  %h3
    = t("layouts.consulta.no_proposals")
- else
  %ul.proposals
    - @proposals.each_with_index do |proposal|
      %li
        = link_to consulta_cns_category_cns_proposal_path(@category, proposal) do
          = proposal.name
          %br
          = proposal.description.truncate(200, omission: '...')
