= f.select :theme_id, @themes.map{ |theme| [theme.name, theme.id] }, { include_blank: true }, {}
= f.select :organization_id, @organizations.map{ |organization| [organization.name, organization.id] }, { include_blank: true }, {}
= f.select :actor_id, @actors.map{ |actor| [actor.name, actor.id] }, { include_blank: true }, {}
=# f.select :entry_id, @entries.map{ |entry| [entry.name, entry.id] }, { include_blank: true }, {}
= f.text_area :quote, rows: 4
= f.date_field :quoted_at
