!!! 5
%html
  %head
    %title= t '.title'
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    = stylesheet_link_tag 'user/login'
    = javascript_include_tag 'user/login'
    = csrf_meta_tags
  %body.animated.fadeInDown
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %header.text-center.animated.flipInY
            = link_to user_root_url, class: 'logo' do
              = image_tag 'user/logo-gobierno-abierto.png'
            %h2
              Una sola cuenta para todas nuestras apps
      %hr

      .row
        .col-lg-7.col-md-7.hidden-sm.hidden-xs
          %ul#apps
            %li
              = image_tag 'user/logo-infoutil.png'
              %p
                En el portal InfoÚtil la población puede consultar información de interés como los costos de las colegiaturas, directorio de ONG´s, el precio de los alimentos ...
            %li
              = image_tag 'user/logo-consulta.png'
              %p
                San Vicente, Usulután, La Libertad y Morazán son los departamentos dónde consultamos con líderes comunitarios el Plan Quinquenal de Desarrollo ...

        .col-lg-5.col-md-5.col-sm-12.col-xs-12
          = yield

    %footer#footer
      %p.copyright
        = t '.footer'
