= render partial: 'layouts/ta/breadcrumb'

%article#article.container
  .row
    .col-xs-12.col-sm-8.col-md-9
      .row
        .col-xs-12
          %h1
            = @article.title


      .row
        .col-xs-12
          %small
            - unless @article.author.nil?
              Por
              = link_to nil do
                = @article.author.name
            = l @article.published_at
      .row
        .col-xs-12
          %p
            = @article.summary

        - if @article.image.present?
          .col-xs-12
            %figure
              = image_tag @article.image.url(:large), class: 'img-responsive'
              %figcaption
                El Procurador de Derechos Humanos, David Morales

      .row
        .col-xs-12
          = raw @article.content

      .row#article-info
        .col-xs-6
          = link_to '#', class: 'btn btn-success' do
            .count
              = @article.comments.publish.count
            Comentarios
        .col-xs-6
          = link_to '#', class: 'btn btn-info' do
            = render partial: 'layouts/ta/sharer'

        /.col-xs-12.col-sm-4
        /  = link_to '#', class: 'btn btn-warning' do
        /    Escuchar la noticia

      %br
      %br
      - if @comments.any?
        #comments.row
          - @comments.each do |comment|
            .col-xs-12
              .media
                .media-left.media-top
                  .avatar{ style: "background: ##{random_rgb_color(80..230)}" }
                    = comment.avatar_letter
                .media-body
                  %h5.media-heading
                    = comment.name
                  %p
                    = comment.message
                  -#
                    %small
                      = l(comment.created_at)
                      |
                      = link_to nil do
                        Reportar
                      |
                      = link_to nil do
                        Responder
            %br
      .row
        .col-xs-12
          .jpages-holder
            / Pagination will be append here by jpages plugin

      #new-comment.row
        .col-xs-12
          .well
            %h4
              Escribir un comentario
            = form_for @comment, url: ta_article_comments_url(@article, @comment), html: { remote: true, class: 'form-horizontal' } do |f|

              .form-group
                .col-xs-6
                  = f.text_field :name, class: 'form-control', placeholder: 'Nombre'

                .col-xs-6
                  = f.email_field :email, class: 'form-control', placeholder: 'Correo electrónico (No será publicado)'

              .form-group
                .col-xs-12
                  = f.text_area :message, class: 'form-control', rows: 5, placeholder: 'Escribe tu comentario'

              .form-inline
                = f.submit 'Publicar', class: 'btn btn-info btn-lg'

                -#
                  .checkbox
                    = label_tag nil, nil do
                      = check_box_tag nil, nil
                      Notificarme cuando alguien responda a mi comentario


    .col-xs-12.col-sm-4.col-md-3
      .row
        .col-xs-12
          %h4
            Otras noticias

      - @related.each do |article|
        .row
          .col-xs-12
            %article
              - unless article.pretitle.blank?
                %small
                  = article.pretitle
              %h3
                = link_to ta_article_url(article) do
                  = article.title
      .row
        .hidden-xs.col-sm-12
          = render partial: 'layouts/ta/banners'
