#gallery

  = render partial: 'layouts/ta/breadcrumb'

  .container
    .row
      .col-xs-12
        %h1
          = @article.title
    .row
      .col-xs-12
        %small
          - unless @article.author.nil?
            Por
            = @article.author.name
            |
          = l @article.published_at.to_date, format: :long
    .row
      .summary.col-xs-12
        %p
          = @article.summary

    .row
      .col-xs-12
        #gcarousel.carousel.slide{ 'data-ride' => 'carousel' }
          -#
            %ol.carousel-indicators
              - (@article.images.length).times do |i|
                %li{ 'data-target' => '#gcarousel', 'data-slide-to' => i, class: i == 0 ? 'active' : nil }

          / Wrapper for slides
          .carousel-inner{ role: 'listbox' }
            - @article.images.each do |image|
              .item{ class: @article.images.first == image ? 'active' : nil }
                %center
                  %figure
                    = link_to image.image.url(:large), class: 'fullsizable' do
                      = image_tag image.image.url(:large), class: 'img-responsive'
                    %figcaption
                      = image.description

          / Controls
          = link_to '#gcarousel', 'data-slide' => 'prev', :href => '#gcarousel', role: 'button', class: 'left carousel-control' do
            %span.glyphicon.glyphicon-chevron-left{ 'aria-hidden' => 'true' }
            %span.sr-only Previous
          = link_to '#gcarousel', 'data-slide' => 'next', :href => '#gcarousel', role: 'button', class: 'right carousel-control' do
            %span.glyphicon.glyphicon-chevron-right{ 'aria-hidden' => 'true' }
            %span.sr-only Next

    .row
      .col-xs-12
        = raw @article.content
