#gallery

  = render partial: 'layouts/ta/breadcrumb'

  .container
    .row
      .col-xs-12
        %h1
          = @article.title
    .row
      .col-xs-12
        %small
          - unless @article.author.nil?
            Por
            = @article.author.name
            |
          = l @article.published_at.to_date, format: :long
    .row
      .summary.col-xs-12
        %p
          = @article.summary

    - if @article.gallery?
      .gallery.row{ itemscope: true, itemtype: 'http://schema.org/ImageGallery' }
        - @article.images.each do |image|
          %figure.col-xs-6.col-sm-3{ itemprop: 'associatedMedia', itemscope: true, itemtype: 'http://schema.org/ImageObject' }
            = link_to image.image.url, itemprop: 'contentUrl', data: { size: "#{image.image_width}x#{image.image_height}" } do
              = image_tag image.image.url(:medium), class: 'img-responsive', alt: @article.title, itemprop: 'thumbnail'
            %figcaption
              = image.description

      = render partial: 'layouts/ta/photoswipe'
      = javascript_include_tag 'ta/init-photoswipe'

    - if @article.video?
      %br
      .row
        .col-xs-12
          .embed-responsive.embed-responsive-16by9
            %iframe.embed-responsive-item{ src: "https://www.youtube.com/embed/#{@article.youtubeid}" }
      %br

    - if @article.audio? && !@audioinf.nil?
      %br
      .row
        .col-xs-12
          = raw @audioinf['html']
      %br

    .row
      .col-xs-12
        = raw @article.content
