- unless @article.nil?
  - if @article.image.present?
    .container-fluid
      .row.row-no-padding
        .col-lg-12
          = image_tag @article.image.url, class: 'img-responsive'

  .container{ class: @article.image.present? ? 'headline' : nil }
    .row
      .col-xs-12
        %small
          libertad de expresión
        %h2
          = link_to ta_article_url(@article) do
            = @article.title
        %p
          = @article.summary

- unless @articles.empty?
  .container
    .row
      - @articles.each do |article|
        .col-xs-12.col-sm-4
          %article
            - if article.image.present?
              = link_to ta_article_url(article) do
                = image_tag article.image.url(:medium), class: 'img-responsive'
            %small
              Pretitulo
            %h3
              = link_to ta_article_url(article) do
                = article.title

#media.container
  .row.row-no-padding.tabs
    .col-xs-4.col-sm-3
      = link_to '#pct', class: 'btn btn-success' do
        = image_tag 'ta/icon-pictures.png', class: 'hidden-xs'
        Fotografías
    .col-xs-4.col-sm-3
      = link_to '#aud', class: 'btn btn-warning' do
        = image_tag 'ta/icon-audios.png', class: 'hidden-xs'
        Audios
    .col-xs-4.col-sm-3
      = link_to '#vdo', class: 'btn btn-info' do
        = image_tag 'ta/icon-videos.png', class: 'hidden-xs'
        Videos
  .row.toggable
    .col-xs-12.col-sm-5.col-sm-offset-1
      %article
        = link_to nil do
          = image_tag 'ta/dummy/05.jpg', class: 'img-responsive'
        %small
          libertad de expresión
        %h3
          = link_to nil do
            Consejo de Seguridad conoce experiencia colombiana de participación de la empresa privada en combate a la inseguridad
    .col-xs-12.col-sm-5
      .row
        .col-xs-6
          %article
            = link_to nil do
              = image_tag 'ta/dummy/02.jpg', class: 'img-responsive'
            %h3
              = link_to nil do
                Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
        .col-xs-6
          %article
            = link_to nil do
              = image_tag 'ta/dummy/04.jpg', class: 'img-responsive'
            %h3
              = link_to nil do
                Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
      .row
        .col-xs-6
          %article
            = link_to nil do
              = image_tag 'ta/dummy/01.jpg', class: 'img-responsive'
            %h3
              = link_to nil do
                Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
        .col-xs-6
          %article
            = link_to nil do
              = image_tag 'ta/dummy/02.jpg', class: 'img-responsive'
            %h3
              = link_to nil do
                Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
    .row
      .col-xs-12
        .text-center
          = link_to nil, class: 'btn btn-inverse' do
            Listado completo de videos

.hidden-xs
  %br
  %br
  .container
    .row
      .col-xs-12
        = render partial: 'layouts/ta/slider'

%br

#yesterday.container
  .row
    .col-xs-12
      %h4
        Noticias de ayer
  .row
    .col-xs-12.col-sm-12.col-md-6
      %article.media
        .media-left
          = link_to nil do
            = image_tag 'ta/dummy/04.jpg', class: 'media-object'
        .media-body
          %small
            Antetítulo
          %h3
            = link_to nil do
              Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
    .col-xs-12.col-sm-6.col-md-3
      %article
        %small
          Antetítulo
        %h3
          = link_to nil do
            Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
    .col-xs-12.col-sm-6.col-md-3
      %article
        %small
          Antetítulo
        %h3
          = link_to nil do
            Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar

  .row
    .col-xs-12
      .text-center
        = link_to nil, class: 'btn btn-inverse' do
          Listado completo de noticias

  %hr

-#
  #releases.container
    .row
      .col-xs-12
        %h4
          Comunicados institucionales

    .row
      .col-xs-12.col-sm-4
        .media
          .media-left
            = link_to nil do
              = image_tag 'ta/dummy/09.jpg', class: 'media-object'
          .media-body
            %small
              13/05/2015
            %h3
              = link_to nil do
                Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
      .col-xs-12.col-sm-4
        .media
          .media-left
            = link_to nil do
              = image_tag 'ta/dummy/09.jpg', class: 'media-object'
          .media-body
            %small
              13/05/2015
            %h3
              = link_to nil do
                Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
      .col-xs-12.col-sm-4
        .media
          .media-left
            = link_to nil do
              = image_tag 'ta/dummy/09.jpg', class: 'media-object'
          .media-body
            %small
              13/05/2015
            %h3
              = link_to nil do
                Ratificación de convenio 189 permitirá beneficios laborales a trabajadoras del hogar
    %hr

.container
  .row
    .col-xs-12.col-sm-6
      .well
        .row
          .col-xs-12.col-sm-10
            %h4
              Subscríbete a nuestro boletín
            %p
              Recibe en tu correo electrónico las noticias de Transparencia Activa todos los días

            = form_tag '' do
              .form-group
                .input-group
                  .input-group-addon
                    %span.glyphicon.glyphicon-envelope
                  = text_field_tag '', '', class: 'form-control', placeholder: 'usuario@dominio.com'

              = submit_tag 'Subscribirme', class: 'btn btn-inverse'
          .col-xs-4
            / Link to TA app will be here
    .col-xs-12.col-sm-6
      .media
        .media-left
          = image_tag 'ta/icon-twitter-blue.png', class: 'media-object'
        .media-body
          %h3
            = link_to 'http://twitter.com/TransparenciaSV', target: '_blank' do
              @TransparenciaSV
      .media
        .media-left
          = image_tag 'ta/dummy/10.jpg', class: 'media-object'
        .media-body
          %p.text-muted
            Nombre @usuario
          %p
            = raw auto_link('Mañana en #DiálogoJoven Viceministra de Salvadoreños en el Exterior Liduvina Magarín, llená el formulario  http://bit.ly/1F9GQ0c')
      .media
        .media-left
          = image_tag 'ta/dummy/11.jpg', class: 'media-object'
        .media-body
          %p.text-muted
            Nombre @usuario
          %p
            = raw auto_link('Mañana en #DiálogoJoven Viceministra de Salvadoreños en el Exterior Liduvina Magarín, llená el formulario  http://bit.ly/1F9GQ0c')
      .media
        .media-left
          = image_tag 'ta/dummy/12.jpg', class: 'media-object'
        .media-body
          %p.text-muted
            Nombre @usuario
          %p
            = raw auto_link('Mañana en #DiálogoJoven Viceministra de Salvadoreños en el Exterior Liduvina Magarín, llená el formulario  http://bit.ly/1F9GQ0c')
