= f.form_group :active do
  = f.check_box :active

= f.form_group :main do
  = f.check_box :main

= f.text_field :priority, class: 'form-control', required: true

= f.text_field :name, class: 'form-control', required: true

= f.text_area :description, class: 'form-control'

= f.text_field :video_url, class: 'form-control', placeholder: 'https://www.youtube.com'

= f.form_group :cover do
  = f.file_field_without_bootstrap :cover, data: { preview: true }
  = image_tag((f.object.cover.present? ? f.object.cover.url(:small) : nil), height: 31)

= f.text_area :actors_description, class: 'form-control'
= f.text_area :citizens_description, class: 'form-control'
= f.text_area :historical_description, class: 'form-control'

= f.text_field :twitter_id, class: 'form-control'
