%h2
  = t("layouts.consulta.articles_title")
%br
%br
.article-section
  - unless @articles.blank?
    - @articles.each_with_index do |article, i|
      .article-item{class: "#{i == @articles.size - 1 ? 'disable-border' : ''}"}
        - if article.picture.present?
          .container-fluid
            .row
              .col-md-4
                .article-image
                  = link_to image_tag(article.picture.url(:medium), class: "img-responsive"), consulta_cns_article_url(article)
              .col-md-8
                .article-name
                  = link_to article.name, consulta_cns_article_url(article)
                .article-description
                  = article.description.truncate(200, omission: '...')
        - else
          .container-fluid
            .row
              .col-md-12
                .article-name
                  = link_to article.name, consulta_cns_article_url(article)
                .article-description
                  = article.description.truncate(200, omission: '...')
  - else
    %h3
      = t("layouts.consulta.no_articles")


