.container
  .row
    .col-sm-3
      = render partial: "employments/resumes/side_menu", locals: {f: action_name}
    .col-sm-9
      %h2
        Cambiar contraseña
      %br
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autocomplete: "off", method: :put}) do |f|
        .row#pwd-container
          .col-xs-6
            .form-group
              = label_tag(:password, {},{class: "sr-only"})
              = f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: t('user.login.password_placeholder')
            .form-group
              = label_tag(:password, {},{class: "sr-only"})
              = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: t('user.login.password_confirmation_placeholder')
          .col-xs-6
            .pwstrength_viewport_progress
            .pwstrength_viewport_errors
        .row
          .col-xs-12
            = f.submit t('user.passwords.change_password'), class: 'btn btn-blue btn-lg'
        %br
        %br
