%h2
  Acceder a tu cuenta
%p
  Accede a tu cuenta para poder aplicar a plazas, empleos, pasantías en las instituciones del gobierno, sin cuello ni favores, procesos transparentes. Si no tienes una cuenta puedes crear una.
%p.text-warning
  * Todos los campos son requeridos, por favor asegurese de llenarlos

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .form-group
    = f.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.user.name')
  .form-group
    = f.text_field :last_name, class: 'form-control', placeholder: t('activerecord.attributes.user.last_name')
  .form-group
    = f.email_field :email, class: 'form-control', placeholder: t('user.login.email_placeholder'), autofocus: true
  .row#pwd-container
    .col-xs-6
      .form-group
        = label_tag(:password, {},{class: "sr-only"})
        = f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: t('user.login.password_placeholder')
      .form-group
        = label_tag(:password, {},{class: "sr-only"})
        = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: t('user.login.password_confirmation_placeholder')
    .col-xs-6
      .pwstrength_viewport_progress
      .pwstrength_viewport_errors
  .row
    .col-xs-12.col-sm-6
      .form-group
        = f.label :humanizer_answer, resource.humanizer_question
        = f.text_field :humanizer_answer, class: 'form-control', placeholder: 'Ingrese su respuesta'
        = f.hidden_field :humanizer_question_id



  %br
  .row
    .col-xs-12
      = f.submit t('user.login.signup'), class: 'btn btn-blue btn-lg'
  %br
  %br
