.navbar.navbar-default.header-bg
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { target: '.navbar-responsive-collapse', toggle: 'collapse' }}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      -# link_to goverment_services_root_url, class: 'navbar-brand' do
        = image_tag 'goverment_services/services-ga-logo.png', alt: 'Gobierno Abierto', class: 'img-reponsive'

    .navbar-collapse.collapse.navbar-responsive-collapse.inner-items
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "INICIO", indicators_root_url
        %li
          = link_to "INDICADORES", nil
        %li
          = link_to "ACERCA DE", nil
        %li
          = link_to "INFOUTIL", "http://infoutil.gobiernoabierto.gob.sv", target: "_blank"

  .clearfix