.navbar.navbar-default.header-bg
  .line-header
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { target: '.navbar-responsive-collapse', toggle: 'collapse' }}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        -# link_to goverment_services_root_url, class: 'navbar-brand' do
          = image_tag 'goverment_services/services-ga-logo.png', alt: 'Gobierno Abierto', class: 'img-reponsive'

      .navbar-collapse.collapse.navbar-responsive-collapse.inner-items
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "INICIO", indicators_root_url
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", role: "button", :"aria-haspopup"=>"true", :"aria-expanded"=>"false", :"data-toggle"=>"dropdown" do
              = "INDICADORES"
              %span.caret
              %ul.dropdown-menu
                - @indicator_categories.each do |category|
                  %li
                    = link_to category.name, indicators_general_index_url(category: category.id)
          
          %li
            = link_to "ACERCA DE", about_indicators_general_index_url
          %li
            = link_to "INFOUTIL", "http://infoutil.gobiernoabierto.gob.sv", target: "_blank"

  .clearfix