= link_to image_tag("agreements/calendario.png"), "#peace-events", id: "event-handler", class: "hidden-xs"
.wrapper-header
  .container
    .visible-xs-block.visible-sm-block
      .row.row-no-padding
        .col-xs-12.col-sm-6
          = link_to image_tag("agreements/logo-paz.png", class: "img-responsive logo-image"), nil

        .col-xs-12.col-sm-6
          %p.title-descriptions
            El 16 de enero de 2017 se celebrará en El Salvador el XXV aniversario de la firma de los Acuerdos de Paz,
            fecha en que se conmemora una nueva etapa que puso fin al conflicto armando y que generó importantes cambios
            políticos e institucionales que marcaron el camino para el fortalecimiento de la democracia y el respeto de
            los derechos humanos.
          = link_to "Descargar los Acuerdos", "http://api.gobiernoabierto.gob.sv/documents/125439/download", class: "btn-download-white", target: "_self"


    =# Vertical aligned
    .row.vertical-align.hidden-xs.hidden-sm
      .col-md-3.col-md-offset-1
        = link_to image_tag("agreements/logo-paz.png", class: "img-responsive logo-image"), nil
      .col-md-7
        %p.title-description
          El 16 de enero de 2017 se celebrará en El Salvador el XXV aniversario de la firma de los Acuerdos de Paz,
          fecha en que se conmemora una nueva etapa que puso fin al conflicto armando y que generó importantes cambios
          políticos e institucionales que marcaron el camino para el fortalecimiento de la democracia y el respeto de
          los derechos humanos.
        = link_to "Descargar los Acuerdos", "http://api.gobiernoabierto.gob.sv/documents/125439/download", class: "btn-download-white", target: "_self"

  .row
    .col-md-12
      .wrapper-timeline-titles
        %h2
          1981 - 1992
        = image_tag("agreements/titulo-timeline.png", class: "img-responsive")
        %p
          Fuente: El Salvador. Historia mínima. Autores varios.
.wrapper-timeline
  .row
    .col-md-12
      #cd-timeline.cd-container
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1981"
            %p
              = "Desde este momento el FMLN abrió la vía del diálogo."
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1983"
            %p
              = "Aparece el Grupo Contadora, conformado por México, Panamá, Colombia y Venezuela, que impulsaron salidas negociadoras para Nicaragua y El Salvador."
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1984"
            %p
              = "El gobierno demócrata cristiano inició la primera fase de negociación, pero no hubo resultados firmes."
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1985"
            %p
              = "Brasil, Perú, Argentina y Uruguay forman el “Grupo de Apoyo” a Contadora."
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1987"
            %p
              = "Costa Rica propone el acuerdo Esquipulas II, que contiene estrategias para eliminar obstáculos en países con conflictos. Este acuerdo es apoyado por todos los presidentes de la región centroamericana."
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1989"
            %p
              = "ARENA y FMLN anuncian el inicio del proceso de diálogo para terminar la guerra."
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1990"
            %p
              = "Se definen los objetivos y la agenda de acuerdos previos a la finalización del conflicto y de la firma de la paz."
        .cd-timeline-block
          .cd-timeline-img
          .cd-timeline-content
            %h1
              = "1992"
            %p
              = "Firma del texto completo de los Acuerdos de Paz en el Castillo de Chapultepec (México)."

.visible-xs-block
  .video-title-xs.container
    .row
      .col-md-12
        %h2
          Firma de los acuerdos de paz
        %p
          Después de 25 años tenemos la oportunidad de reafirmar nuestro compromiso por la Paz y el diálogo democrático.

%section.video-agreements
  .container
    .col-md-12
      .video-title.hidden-xs
        %h2
          Firma de los acuerdos de paz
        %p
          Después de 25 años tenemos la oportunidad de reafirmar nuestro compromiso por la Paz y el diálogo democrático.
      .fullscreen-bg
        = video_tag("acuerdos.mp4", id: "video-background", autoplay: "", loop: "", muted: "")
      = link_to "Quiero firmar por la paz", "#sign-for-peace", class: "btn-download-blue"

%section#sign-for-peace
  .hidden-xs
    .container
      .row
        .col-md-12.text-center
          - @number = sprintf('%05d', @signed)
          .counter
            - @number.to_s.each_char do |num|
              %span.label.label-default
                = num
          %h2.counter-title
            Personas han reafirmado su compromiso por la paz
  #form
    .container
      .row
        .col-xs-12.col-sm-6.col-md-5.col-md-offset-1
          .peace-space
            = image_tag("agreements/reafirma.png", class: "img-responsive")
            %p.form-description.hidden-xs
              Hoy más que nunca es necesario que todas las fuerzas políticas y sociales busquen un nuevo Acuerdo de Nación
              que permita edificar una sociedad progresista, justa, solidaria y respetuosa del Estado de derecho.

        .col-xs-12.col-sm-6.col-md-5.col-md-offset-1
          .peace-space
            %h3.form-title.hidden-xs
              Completa el formulario para firmar por la paz
            = bootstrap_nested_form_for @user_signature, url: agreements_dashboard_index_path(@user_signature), method: :post, html: {id: "peace-form", remote: true} do |f|
              = f.text_field :name, class: 'form-control', hide_label: true, placeholder: t('activerecord.attributes.agreements/user_peace_signature.name')
              = f.select :country, @countries.map{|country| [country.name, country.id]}, {include_blank: '-- País --', hide_label: true}, {class: 'form-control'}
              =# f.collection_select(:country, Country.all, :id, :name, {}, {:data => {  :remote => true, :url => url_for(:controller => "dashboard", :action => "display_states") }, { :type=>"json" } })
              = f.select :state, {}, {include_blank: '-- Estado (Departamento) --', hide_label: true}, {class: 'form-control hidden-state'}
              .form-group
                = f.email_field :email, class: 'form-control', hide_label: true, placeholder: t('activerecord.attributes.agreements/user_peace_signature.email') + " (opcional)"
              = f.text_field :phone, class: 'form-control', hide_label: true, placeholder: t('activerecord.attributes.agreements/user_peace_signature.phone') + " (opcional)"
              =# recaptcha_tags
              .text-center
                = f.submit "Firmar", class: 'btn btn-sign'
  .visible-xs-block
    .container
      .row
        .col-md-12.text-center
          - @number = sprintf('%05d', @signed)
          .counter
            - @number.to_s.each_char do |num|
              %span.label.label-default
                = num
          %h2.counter-title
            Personas han reafirmado su compromiso por la paz
  #you-signed
    .container
      %h2
        ¡Gracias por firmar los acuerdos!
      %h3
        = "¡Comparte para que otras personas, reafirmen su compromiso por la <span>PAZ</span> !".html_safe
      .col-xs-12
        .sharer

%section#peace-events
  .container
    .event-list
      %h2.events Eventos
      .row.row-no-padding
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                12
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Inauguración de la escultura y de la Plaza a la Bondad
                %p
                  Hora: 10:00 am
                  %br
                  Lugar: Aeropuerto Internacional, Plaza de Bienvenida
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                13
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Lanzamiento de sellos postales conmemorativos
                %p
                  Hora: 10:00 am
                  %br
                  Lugar: Salón de Honor de Cancillería
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                15
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Inauguración del Monumento a la Reconciliación
                %p
                  Hora: 4:00 pm
                  %br
                  Lugar: Bulevar Monseñor Romero
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                16
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Acto Conmemorativo Oficial
                %p
                  Hora: 8:00 am
                  %br
                  Lugar: CIFCO
      .row.row-no-padding
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                16
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Concierto Internacional Paz25
                %p
                  Hora: 7:00 pm
                  %br
                  Lugar: Teatro Presidente

        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                17
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Inauguración de Sala Museográfica temporal de Acuerdos de Paz
                %p
                  Hora: 10:00 am
                  %br
                  Lugar: MUNA
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                17
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  El Futuro de la Paz: Formación para las Artes
                %p
                Hora: 5:00 pm
                %br
                Lugar: MUNA

        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                18
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Sorteo conmemorativo “Acuerdos de Paz” de LNB
                %p
                  Hora: 12:30 pm
                  %br
                  Lugar: Auditorio Alfredo Martínez Moreno, Cancillería
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                19
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Foro “Cultura de Paz”. Reflexión sobre currículo educativo
                %p
                  Hora: 10:00 am
                  %br
                  Lugar: MUNA
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                22
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Carrera por la Paz
                %p
                  Hora: 6:30 am
                  %br
                  Lugar: Estadio Mágico González – Universidad de El Salvador
      .row.row-no-padding
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                24
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Un ángel al centro (Intervención Urbana)
                %p
                  Hora: 10:00 am
                  %br
                  Lugar: Plaza Francisco Morazán, Centro Histórico
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                25
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Conversatorio con firmantes de los Acuerdos de Paz
                %p
                  Hora: 10:00 am
                  %br
                  Lugar: Biblioteca Nacional Francisco Gavidia
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                26
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Foro Internacional “El Salvador y el mundo: 25 años después de la firma de la Paz”
                %p
                  Hora: 9:00 am – 5:00 pm
                  Lugar: CIFCO
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                27
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Continuación de Foro Internacional
                %p
                  Hora: 9:00 am – 5:00 pm
                  %br
                  Lugar: CIFCO
        .col-md-6
          .event
            .row
              .col-xs-4.col-sm-4.col-md-3.event-date
                29
                %br
                %span
                  ene
              .col-xs-8.col-sm-8.col-md-9
                %h3
                  Festival Memoria y Palabra
                %p
                  Hora: 3:00 pm
                  %br
                  Lugar: Plaza Cívica, Centro Histórico de San Salvador

%section.peace-photos
  .container
    .row
      .col-md-8.col-sm-12.col-xs-12.col-md-offset-2
        %a.twitter-timeline{"data-widget-id" => "520232741699203076", :href => "https://twitter.com/hashtag/SoyPaz", :"data-chrome" => "nofooter noborders"}
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
