.container
  .row
    = render partial: 'layouts/goverment_services/breadcrumb'
    .col-xs-5
      %div{id: "shareButtonLabelCount"}
      :javascript
        $("#shareButtonLabelCount").jsSocials({
          url: "#{goverment_services_institution_services_url()}",
          text: "Servicios publico",
          showCount: true,
          showLabel: false,
          shares: ["facebook", "twitter", "linkedin", "googleplus"]
        });
  %section.service-content
    .container
      - unless params[:institution_id].nil?
        %h1
          = @institutions.invert.key params[:institution_id].to_i rescue ""
      %h2
        = "Listado de servicios"
%section.institutions-search
  .container
    .row
      .col-md-8.col-centered
        = form_tag goverment_services_institution_services_url, method: :get do |f|
          = select_tag :institution_id, options_for_select(@institutions.invert, params[:institution_id]), {class: "form-control select2", :prompt => "-- Seleccione una opción --"}
          .centered-div
            = submit_tag "Buscar", class: "btn btn-primary"

%section.institution-services-categories
  .container
    - if @service_categories.uniq.size > 0
      .row
        - @service_categories.uniq.each_with_index do |category, i|
          .col-md-6
            .service-wrapper
              .service-panel-header
                = category["name"]
              .list 
                =#.list-group-item
                - category["institution_services"].each do |institution_service|
                  .service-item
                    = link_to goverment_services_institution_service_url(institution_service["id"]), class: "list-group-item" do 
                      %span{class: "glyphicon glyphicon-triangle-right", :"aria-hidden" => true}
                      = institution_service["name"]
                      %br
                      %span
                        = "Última fecha de actualización: #{l(Date.parse institution_service['updated_at'], format: :long)}"
                  