%br
.container
  .row
    = render partial: 'layouts/goverment_services/breadcrumb'
    .col-xs-5
      %div{id: "shareButtonLabelCount"}
      :javascript
        $("#shareButtonLabelCount").jsSocials({
          url: "#{goverment_services_institution_service_url(1)}",
          text: "Servicio publico",
          showCount: true,
          showLabel: false,
          shares: ["facebook", "twitter", "linkedin", "googleplus"]
        })
      
%section.service-content
  .container
    %h1
      Requisitos para la obtención del Documento Único de Identidad (DUI) Renovacion 
    .row
      .col-md-12
        .center-object
          %ul.nav.nav-tabs.custom-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#home"} 
                %span.glyphicon.glyphicon-home{"aria-hidden" => "true"} 
            %li
              %a{"data-toggle" => "tab", :href => "#menu1"} 1 
            %li
              %a{"data-toggle" => "tab", :href => "#menu2"} 2
            %li
              %a{"data-toggle" => "tab", :href => "#menu3"} 3
        .institution-services       
          .tab-content
            #home.tab-pane.fade.in.active
              .row
                .col-sm-6.col-xs-12
                  %h2
                    Generalidades
                  %p
                    = "El Documento Único de Identidad (DUI) es el documento que se utiliza para identificación oficial para las personas naturales que viven en El Salvador. El documento es necesario para identificar a toda persona natural salvadoreña, en todo acto público o privado, tanto dentro del país, como en el extranjero. "
                .col-sm-6.col-xs-12
              .row
                .col-sm-6.col-xs-12
                  %h3
                    Costo total del servicio 
                  %p
                    $10.31
            #menu1.tab-pane.fade
              %h2 
                Revisión de documentos
              %p
                El personal de Mûhlbauer con el personal del RNPN verifican los documentos
              %table.table.table-stripped
                %tr
                  %td
                    Persona responsable: 
                  %td
                    Personal de Mûhlbauer y Delegado del RNPN 
                %tr
                  %td
                    Requisitos: 
                  %td
                    Recibo de DUI cancelado en cualquier banco del sistema - DUI a renovar - Si se va a hacer alguna modificación se deben de presentar los documentos mencionados en el apartado "Modificación"
                %tr
                  %td
                    Costo del paso:
                  %td
                    $ 10.31
                %tr
                  %td
                    Horario:   
                  %td
                    Lunes a Viernes: 08:00 a.m. - 04:00 p.m. (sin cerrar al mediodía) Sábado: 08:00 a.m. - 12:00 a.m 
                %tr
                  %td
                    Duración:
                  %td
                    20 minutos
                %tr
                  %td
                    Tiempo de respuesta:
                  %td
                    20 minutos

            #menu2.tab-pane.fade
              %h2 
                Enrolamiento              
              %p
                En este paso, el personal de Mûhlbauer verifica que toda la documentaciòn sea la correcta.
              %table.table.table-stripped
                %tr
                  %td
                    Persona responsable: 
                  %td
                    Personal de Mûhlbauer y Delegado del RNPN 
                %tr
                  %td
                    Horario:   
                  %td
                    Lunes a Viernes: 08:00 a.m. - 04:00 p.m. (sin cerrar al mediodía) Sábado: 08:00 a.m. - 12:00 a.m 
                %tr
                  %td
                    Duración:
                  %td
                    20 minutos
                %tr
                  %td
                    Tiempo de respuesta:
                  %td
                    20 minutos
            #menu3.tab-pane.fade
              %h2 
                Entrega 
              %p
                Este es el ultimo paso que realiza el ciudadano, la entrega del Documento Unico de Identidad DUI
              %table.table.table-stripped
                %tr
                  %td
                    Persona responsable: 
                  %td
                    Personal de Mûhlbauer y Personal del RNPN 
                %tr
                  %td
                    Horario:   
                  %td
                    Lunes a Viernes: 08:00 a.m. - 04:00 p.m. (sin cerrar al mediodía) Sábado: 08:00 a.m. - 12:00 a.m 
                %tr
                  %td
                    Duración:
                  %td
                    20 minutos
                %tr
                  %td
                    Tiempo de respuesta:
                  %td
                    20 minutos
        
        -# search_form_for @q, url: ta_articles_url, html: { class: 'navbar-form' } do |f|
          .input-group
            = f.search_field :title_or_summary_cont, class: 'form-control', placeholder: 'Buscar'
            .input-group-addon
              = icon('search')
        .clearfix
        .action-buttons
          = link_to "Quiero este servicio en linea", nil, class: "btn btn-primary btn-lg"
          = link_to "Este servicio no funciona así", nil, class: "btn btn-danger btn-lg"

