%h1
  - if expedient.status == 'new'
    = link_to "Casos nuevos", complaints_expedients_url(state: 'new')
  - elsif expedient.status == 'process'
    = link_to "Casos en Proceso", complaints_expedients_url(state: 'process')
  - elsif expedient.status == 'closed'
    = link_to "Casos Cerrados", complaints_expedients_url(state: 'closed')
  - if expedient.correlative.present?
    = "/ Caso #{expedient.correlative}"
.content
  .row
    .col-xs-12.text-right
      - if expedient.process?
        = render 'close_modal'
      - else
        .text-right
          = link_to 'Imprimir caso', complaints_expedient_url(expedient, format: :pdf), target: '_blank', class: 'btn-primary-gray no-block'
  .row
    .col-sm-2
      %p.blue
        Fecha de ingreso
      = expedient.received_at.try(:strftime, '%d/%m/%Y')
    .col-sm-3
      %p.blue
        Contacto
      = expedient.contact.present? ? expedient.contact : 'Anónimo'
    .col-sm-2
      %p.blue
        Vía de ingreso
      = expedient.kind_s

  %br
  .row
    .col-sm-12
      %p.blue
        Comentario
      = expedient.comment
  - if expedient.asset.present?
    %br
    .row
      .col-sm-12
        %p.blue
          Archivo
        = link_to expedient.asset.url, target: '_blank', class: 'lnk-download-asset' do
          = expedient.asset_file_name
          (#{number_to_human_size(expedient.asset_file_size)})
  %br
  .row
    .col-sm-12
      %p.blue
        Datos de contacto
      = "Teléfono: #{expedient.phone.present? ? expedient.phone : 'Ninguno'}"
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = "Correo electrónico: #{expedient.email.present? ? expedient.email : 'Ninguno'}"
  - unless expedient.new?
    = render "management"
  - else
    = render "process"
