#header
  .container-fluid
    .row
      .col-md-3.col-md-offset-2.text-center
        = image_tag('consulta/logo.png')
        %h2
          = t('layouts.consulta.title')
        %p.title-plan
          = t('layouts.consulta.five_year_plan')
        %p.title-join.visible-lg
          = t('layouts.consulta.join_us')
      .col-md-5.text-center
        .slogan
          %h1
            = t('layouts.consulta.slogan')
          %p.slogan-description
            = t('layouts.consulta.slogan_description').html_safe
          .proposal-buttons
            = link_to t('layouts.consulta.read_proposals'), "#"
            = link_to t('layouts.consulta.about'), "#"
  = render 'consulta/dashboard/slider'
