= f.text_field :pretitle, class: 'form-control'

= f.text_field :title, class: 'form-control', required: true

= f.form_group :featured do
  = f.check_box :featured

= f.form_group :front do
  = f.check_box :front

= f.text_field :video_url

= f.text_field :audio_url

= f.form_group :image do
  = f.file_field_without_bootstrap :image, data: { preview: true }
  = image_tag((f.object.image.present? ? f.object.image.url(:small) : nil), height: 31)

= f.text_area :summary, rows: 4, class: 'form-control', required: true

= f.label :content
= f.cktext_area :content, required: true, ckeditor: { height: 500 }

%br
%br

= f.text_field :tag_list, class: 'tags', required: true

= field_set_tag 'Galería' do

  .form-gallery.row
    = f.fields_for :images do |ff|

      .col-xs-6
        .well.well-sm
          .row
            .image.col-xs-6
              = ff.label :image do
                = image_tag ff.object.image.url(:medium), class: 'img-responsive img-thumbnail'

              = ff.file_field :image, hide_label: true, accept: 'image/*'
              = ff.link_to_remove class: 'btn btn-sm btn-danger pull-right' do
                %span.glyphicon.glyphicon-trash

            .col-xs-6
              = ff.text_field :priority, hide_label: true, class: 'form-control', placeholder: 'Prioridad', required: true
              %br
              = ff.text_area :description, hide_label: true, rows: 6, class: 'form-control', placeholder: 'Descripción', required: true

    .fields
      .col-xs-2
        = f.link_to_add :images, class: 'btn btn-sm btn-default pull-right' do
          %span.glyphicon.glyphicon-plus

-#
  = field_set_tag 'Videos' do
    .row
      = f.fields_for :videos do |ff|
        .col-xs-6
          .well.well-sm
            .row
              .col-xs-12

                .form-group
                  = ff.label :priority, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_field :priority, class: 'form-control'

                .form-group
                  = ff.label :title, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_field :title, class: 'form-control'

                .form-group
                  = ff.label :image, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.file_field :image, data: { preview: true }
                    = image_tag((ff.object.image.present? ? ff.object.image.url(:small) : nil), height: 31)

                .form-group
                  = ff.label :url, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_field :url, class: 'form-control'

                .form-group
                  = ff.label :description, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_area :description, rows: 3, class: 'form-control'

                = ff.link_to_remove class: 'btn btn-sm btn-danger pull-right' do
                  %span.glyphicon.glyphicon-trash

      = f.link_to_add :videos, class: 'btn btn-sm btn-default pull-right' do
        %span.glyphicon.glyphicon-plus

-#
  = field_set_tag 'Audios' do
    .row
      = f.fields_for :audios do |ff|
        .col-xs-6
          .well.well-sm
            .row
              .col-xs-12

                .form-group
                  = ff.label :priority, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_field :priority, class: 'form-control'

                .form-group
                  = ff.label :title, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_field :title, class: 'form-control'

                .form-group
                  = ff.label :image, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.file_field :image, data: { preview: true }
                    = image_tag((ff.object.image.present? ? ff.object.image.url(:small) : nil), height: 31)

                .form-group
                  = ff.label :url, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_field :url, class: 'form-control'

                .form-group
                  = ff.label :description, class: 'control-label col-xs-3'
                  .col-xs-8
                    = ff.text_area :description, rows: 3, class: 'form-control'

                = ff.link_to_remove class: 'btn btn-sm btn-danger pull-right' do
                  %span.glyphicon.glyphicon-trash

      = f.link_to_add :audios, class: 'btn btn-sm btn-default pull-right' do
        %span.glyphicon.glyphicon-plus

= field_set_tag 'Publicación' do

  = f.select :category_id, @categories.map{ |category| [category.name, category.id] }, {}, class: 'form-control', required: true

  = f.select :author_id, @authors.map{ |author| [author.name, author.id] }, {}, class: 'form-control', required: true

  = f.datetime_select :published_at, {}, { class: 'form-control datetime-select', required: true }

  = f.form_group :layout, label: { text: t('activerecord.attributes.ta/article.layout') } do
    - Ta::Article.layouts.each do |layout, index|
      = f.radio_button :layout, layout, label: t("activerecord.enum.ta/article.layout.#{layout}")

  = f.form_group :status, label: { text: t('activerecord.attributes.ta/article.status') } do
    - Ta::Article.statuses.each do |status, index|
      = f.radio_button :status, status, label: t("activerecord.enum.ta/article.status.#{status}")
