.wrapper-wage-video
  %p.subject
    Tema
  %h1.problem-title
    = theme.name
  %h2.problem-description
    = simple_format theme.description
  - if theme.video_url
    = link_to image_tag("forums/play-icon.png"), theme.video_url, class: "play-video", title: theme.name
  .clearfix
  = link_to image_tag("forums/goto.png"), "#wrapper-positions", class: "go-to-positions"
#wrapper-positions
  .container
    .wage-authorities-position
      %h2
        Posturas de los actores de la sociedad
      %p.description-topic
        = theme.actors_description
      .list
        %ul#lightSlider
          - theme.postures.latest.each_with_index do |posture, i|
            %li.slide{ class: i % 2 == 0 ? 'blue-slide-bg' : 'sky-slide-bg' }
              - if posture.organization.logo.present?
                %p
                  = image_tag(posture.organization.logo.url(:small))
              %h3.institution
                = posture.organization.name
              %p.quote
                = posture.quote
              %p.author
                = posture.actor.name
              - if posture.entry.present?
                = link_to "ver fuente", "#", class: "source"
              .row.like-or-dislike
                .col-xs-6
                  %span
                    = link_to image_tag("forums/icon-heart.png"), "#"
                  %span
                    0
                .col-xs-6
                  %span
                    = link_to image_tag("forums/icon-sadface.png"), "#"
                  %span
                    0
    .wage-people-position
      %h2
        Posturas de los ciudadanos
      %p.description-topic
        = theme.citizens_description
    #citizens_postures
    .submit-position
      .row
        .col-sm-8.default-margin
          %textarea{name: "twitter_text", id: "twitter_text_id", maxlength: "123", class: "form-control", rows: "3"}
        .col-sm-4.default-margin
          %input{type: "button", class: "btn btn-warning btn-custom-reply", :"data-url" => "https://twitter.com/intent/tweet", id: "twitter_popup", value: "Escribe tu postura"}

.wage-historic-timeline
  .container
    %h2
      Histórico del tema
    %p.description-topic
      = theme.historical_description
    .filters
      Filtrar por
      .row
        .col-md-3.col-sm-6.default-margin
          = select_tag 'credit_card', options_for_select(@medias.map{ |s| [s.name, s.id] }), prompt: 'Todos los medios de comunicación', :class => 'form-control'
        .col-md-3.col-sm-6.default-margin
          = select_tag 'credit_card', options_for_select(@politics.map{ |s| [s.name, s.id] }), prompt: 'Todos los partidos políticos', class: 'form-control'
        .col-md-3.col-sm-6.default-margin
          = select_tag "credit_card", options_for_select([ "PDF", "VIDEOS", "AUDIOS", "DOC", "Todos los multimedia" ], "Todos los multimedia"), class: "form-control"
        .col-md-3.col-sm-6.default-margin
          = select_tag "credit_card", options_for_select([ "Twitter", "Facebook", "Todas las redes sociales" ], "Todas las redes sociales"), class: "form-control"
    =# EJEMPLO
    %section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          %img{:alt => "Picture", :src => "img/cd-icon-picture.svg"}
        / cd-timeline-img
        .cd-timeline-content
          %h2 Title of section 1
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
          %a.cd-read-more{:href => "#0"} Read more
          %span.cd-date Jan 14
        / cd-timeline-content
      / cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          %img{:alt => "Movie", :src => "img/cd-icon-movie.svg"}
        / cd-timeline-img
        .cd-timeline-content
          %h2 Title of section 2
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?
          %a.cd-read-more{:href => "#0"} Read more
          %span.cd-date Jan 18
        / cd-timeline-content
      / cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          %img{:alt => "Picture", :src => "img/cd-icon-picture.svg"}
        / cd-timeline-img
        .cd-timeline-content
          %h2 Title of section 3
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.
          %a.cd-read-more{:href => "#0"} Read more
          %span.cd-date Jan 24
        / cd-timeline-content
      / cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          %img{:alt => "Location", :src => "img/cd-icon-location.svg"}
        / cd-timeline-img
        .cd-timeline-content
          %h2 Title of section 4
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
          %a.cd-read-more{:href => "#0"} Read more
          %span.cd-date Feb 14
        / cd-timeline-content
      / cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          %img{:alt => "Location", :src => "img/cd-icon-location.svg"}
        / cd-timeline-img
        .cd-timeline-content
          %h2 Title of section 5
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.
          %a.cd-read-more{:href => "#0"} Read more
          %span.cd-date Feb 18
        / cd-timeline-content
      / cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          %img{:alt => "Movie", :src => "img/cd-icon-movie.svg"}
        / cd-timeline-img
        .cd-timeline-content
          %h2 Final Section
          %p This is the content of the last section
          %span.cd-date Feb 26
        / cd-timeline-content
      / cd-timeline-block
    / cd-timeline




:javascript
  $(document).ready(function(){
    $('#twitter_popup').on("click", function(event) {

      var input_msg = document.getElementById('twitter_text_id').dataset.url
      var msg = "?text=" + encodeURIComponent(input_msg);
      var tag = encodeURIComponent(" #SalarioMinimoSV");
      var msg_tag = msg + tag;

      var width  = 575,
      height = 430,
      left   = ($(window).width()  - width)  / 2,
      top    = ($(window).height() - height) / 2,
      url    = this.dataset.url + msg_tag,
      opts   = 'status=1' + ',width='  + width  + ',height=' + height + ',top='    + top    + ',left='   + left;

      window.open(url, 'twitter', opts);
      return false;
    });

    var config3 = {
      "id": "#{theme.twitter_id}",
      "domId": 'citizens_postures',
      "maxTweets": 6,
      "enableLinks": true,
      "showImages": true,
      "lang": 'es'
    };
    twitterFetcher.fetch(config3);

    function populateTpl(tweets){
      var element = document.getElementById('citizens_postures');
      var html = '<ul>';
      for (var i = 0, lgth = tweets.length; i < lgth ; i++) {
        var tweetObject = tweets[i];
        html += '<li>'
          + (tweetObject.image ? '<div class="tweet-img"><img src="'+tweetObject.image+'" /></div>' : '')
          + '<p class="tweet-content">' + tweetObject.tweet + '</p>'
          + '<p class="tweet-infos">Posted on the ' + tweetObject.time + ', by ' + tweetObject.author + '</p>'
          + '<p class="tweet-link"><a href="' + tweetObject.permalinkURL + '">Link</a></p>'
        + '</li>';
      }
      html += '</ul>';
      element.innerHTML = html;
    }
  });
