!!! 5
%html{ language: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    %meta{ name: 'robots', content: 'noindex' }
    %meta{ name: 'title', content: 'Calculadora de pensiones de El Salvador' }
    %meta{ name: 'description', content: 'Compará como será tu pensión con el sistema actual y como sería si se aprueba la reforma impulsada por el Gobierno o la presentada por la Iniciativa Ciudadana de Pensiones (ICP)' }
    %title
      Calculadora de pensiones de El Salvador
    = display_meta_tags

    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'shortcut icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon-precomposed' }
    %link{:href => "https://fonts.googleapis.com/css?family=Dosis", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag :forums
    = javascript_include_tag :forums
    %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}
    %script{:async => "", :src => "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.2"}
    = csrf_meta_tags
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104671287-1', 'auto');
      ga('send', 'pageview');

  %body
    = render partial: 'layouts/forums/header_calc'
    #wrapper
      = render partial: 'layouts/admin/notice'
      = yield
    %footer
      .container
        .col-md-6
          = link_to image_tag("forums/sabesque.png"), "https://www.facebook.com/SabesQueSV/?ref=br_rs", target: "_blank"
    / Modal
    #mediaModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "aria-hidden"=>"true"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4
              #myModalLabel.modal-title
          .modal-body
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
