!!! 5
%html{ language: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    %meta{ name: 'robots', content: 'noindex' }
    %meta{ name: 'description', content: 'Foro de opinión pública en El Salvador' }
    %title
      Y vos que pensas
    = display_meta_tags

    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'shortcut icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon-precomposed' }

    = stylesheet_link_tag :forums
    = javascript_include_tag :forums
    = csrf_meta_tags

  %body
    = render partial: 'layouts/forums/header'
    #wrapper
      = yield
    = render partial: 'layouts/forums/footer'
    / Modal
    #mediaModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4
              #myModalLabel.modal-title
          .modal-body
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
